<div class="content">
    <h2>Cancelaciones</h2>
    <section>
        <h3>Recomendaciones de compra</h3>
        <ul>
            <li><span>Verificación de vendedores: </span>Para garantizar tu seguridad, consulta la "Reputación del vendedor" en la página del producto antes de comprar en Homix. Esta función te permite evaluar la confiabilidad del vendedor, brindándote tranquilidad.Descripción detallada: Es esencial leer atentamente la descripción del producto</li>
            <li><span>Descripción detallada: </span>Es esencial leer atentamente la descripción del producto antes de comprar. Después de la compra, podrás comunicarte con el vendedor para aclarar cualquier duda que puedas tener.</li>
        </ul>
    </section>
    <section>
        <h3>Compra protegida</h3>
        <p>Si tu producto no llega o no coincide con la descripción proporcionada por el vendedor, estás cubierto por nuestra política de protección al comprador.</p>
        <p>Si experimentas algún problema con tu compra, puedes iniciar un proceso de resolución de disputas a través de Homix. Nuestro equipo de soporte estará listo para ayudarte a resolver cualquier problema y, si es necesario, facilitar el reembolso de tu compra.</p>
        <p>En Homix, nos esforzamos por brindarte la mejor experiencia de compra posible y protegemos tu inversión en cada paso del proceso. Puedes comprar con confianza sabiendo que estamos aquí para respaldarte. Si tienes más preguntas o necesitas asistencia adicional, no dudes en contactarnos. Estamos aquí para ayudarte a disfrutar de una experiencia de compra segura y satisfactoria en Homix.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'compras/cancelaciones'"></app-encuesta-utilidad>
</div>