<div class="contenidoTotal" > 
    <div class="seccionIzquierda" (scroll)="onScroll($event)" *ngIf="anchoPagina > 1090">
        <ng-container *ngFor="let fotoUrl of fotos; let i = index">
            <div *ngIf="fotoUrl" (click)="index = i; cambiarImagen()" class="div">
                <img src="assets/img/categoria/pic-loading.svg" *ngIf="!producto">
                <img [src]="fotoUrl" *ngIf="producto">
            </div>
        </ng-container>
        <div *ngIf="fotos && fotos.length > 5 && linea" class="linea">
            <div class="sombra"></div>
        </div>
    </div>
    <div class="seccionDerecha" *ngIf="anchoPagina > 670">
        <div>
            <img src="assets/img/categoria/pic-loading.svg" *ngIf="!producto">
            <img [src]="selectedImage" (click)="emitirSombra(); emitirIndex()" *ngIf="producto">
        </div>
    </div>
    <div class="seccionDerecha" *ngIf="anchoPagina <= 670" >
        <div (touchend)="touchedScroll($event)" #scrollElement>
            <ng-container *ngFor="let foto of fotos; let i = index">
                <img [src]="foto" (click)="index = i; emitirSombra(); emitirIndex(i)">
            </ng-container>
        </div>
    </div>
    <div class="seccionBaja" (scroll)="onScrollBajo($event)" *ngIf="anchoPagina <= 1090">
        <ng-container *ngFor="let fotoUrl of fotos; let i = index">
            <div *ngIf="fotoUrl" (click)="index = i; cambiarImagen()" class="div">
                <img src="assets/img/categoria/pic-loading.svg" *ngIf="!producto">
                <img [src]="fotoUrl" *ngIf="producto">
            </div>
        </ng-container>
        <div *ngIf="(anchoPagina - 60) < (70 * fotos.length) && linea" class="linea">
            <div class="sombra"></div>
        </div>
    </div>
</div>
