.formulario{
    position: relative;
    width: 450px;
    min-width: 375px;
    height: 335px;
    background: white;
    border-radius: 12px;
    border: 1px solid #ececec;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.090);
    margin-top: 7vh;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    h1{
        margin-top: 35px;
        padding-left: 42px;
        font-size: 24px;
        font-weight: 520;
        color: #606060;
        letter-spacing: .4px;
        margin-bottom: 10px;
    }
    p:nth-child(2){
       margin-bottom: 5px; 
       padding-right: 40px;
       font-size: 14.4px;
    }
    label,p{
        padding-left: 42px;
        font-size: 14px;
        font-weight: 450;
        color: #707070;
        letter-spacing: .4px;
    }
    .invalid{
        border: 1.7px solid #ffa6a6;
    }
    .errorText{
        color: #ff6d6d;
    }
    p.error { 
        color: #ff6d6d;  
        transform: translateY(-19px) !important; 
        font-size: 12px; 
        font-weight: 450; 
        letter-spacing: .4px; 
        margin: 0; 
    }
    input{
        width: calc(100% - 120px);
        margin: 5px 0 22px 40px;   
        padding: 11px 20px;
        border: 1px solid #d8d8d8;
        outline: none;
        border-radius: 7px;
        color: #505050;
        font-weight: 420;
        letter-spacing: .3px;
        &:focus{
            border: 1.4px solid #c4c4c4;
        }
        &::placeholder{
            color: #a5a5a5;
        }
    }
    button{
        margin-top: 10px;
        width: calc(100% - 80px);
        margin-left: 40px;
        border-radius: 8px;
        padding: 12px;
        cursor: pointer;
        border: none;
        color: #fff;
        background-color: #FF9C59;
        font-weight: 500;
        letter-spacing: .5px;
        word-spacing: 1px;
        &:hover{
            background-color: #FF9C59;
        }
    }
    @media (max-width: 475px) {
        width: 100%;
        height: calc(100vh - 60px);
        border-radius: 0;
        border: none;
        transform: none;
        margin: 0;
        padding: 0;
        left: 0;
    }
}