.Carousel {
    width: 100%;
  
    .slick-list {
      position: relative;
      display: flex;
      align-items: center;
      height: 370px;
      margin: 0 auto;
      max-width: 1400px;
      overflow: hidden;

      $base-height: 360px;
      $breakpoint: 1520px;

      @media (max-width: #{$breakpoint}) {
        height: 360px;
      }

      @for $i from 1 through 20 {
        $breakpoint: $breakpoint - 40px;

        @media (max-width: #{$breakpoint}) {
          height: calc(#{$base-height} - #{$i * 9.5px});
        }
      }

      $base-height-dos: 313px;
      $breakpoint-dos: 740px;
      @for $i from 1 through 12 {
        $breakpoint-dos: $breakpoint-dos - 30px;

        @media (max-width: #{$breakpoint-dos}) {
          height: calc(#{$base-height-dos} - #{$i * 12px});
        }
      }
  
      .slick-track {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        transition: .4s ease-in-out;
        background-color: red;
        width: 400%;
        padding: 0 1.5px;
        .imagen {
          float: left;
          box-sizing: border-box;
          display: flex;
          
          img {
            position: absolute;
            top: 0;
            width: calc(25% - 4px);
            object-fit: cover;
            border-radius: 6px;
          }
        }
        .imagen:nth-child(2) {
          img {
            left: 25%;
          }
        }
        .imagen:nth-child(3) {
          img {
            left: 50%;
          }
        }
      }
    }
  }
  
  .botones {
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 0;
    cursor: pointer;
    &:focus {
      outline: 0;
    }
    svg {
      width: 12px;
      height: 100%;
      color: rgba(0, 0, 0, 0.7);
    }
  }
  
  .boton-prev, .boton-next {
    background: #fff;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    transition: .2s;
    ng-icon {
      color: #555;
      font-size: 25px;
      margin-top: 16px;
    }
    @media (max-width: 950px) {
      transform: translateY(-50%) scale(0.9);
    }
  }
  
  .boton-prev {
    left: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 8px;
    ng-icon{
      transform: translate(-2px,-8px)
    }
    @media (max-width: 500px) {
      transform: translate(-20% ,-50%) scale(0.75);
      opacity: 0.7;
    }
  }
  
  .boton-next {
    right: 15px;
    font-weight: bold;
    padding-top: 3px;
    padding-left: 8px;
    ng-icon{
      transform: translateY(-8px)
    }
    @media (max-width: 500px) {
      transform: translate(20% ,-50%) scale(0.75);
      opacity: 0.7;
    }
  }
  
  .boton-prev:hover, .boton-next:hover {
    background: #FF9C59;
    &:hover ng-icon {
      color: white;
    }
  }
  
  .slick-text {
    text-align: center;
    font-size: 23px;
    margin-top: 5px; 
    color: #222;
    height: 14px;
  }
  
  ng-icon {
    margin-top: 7px;
  }