<app-menu-simple></app-menu-simple>
<div class="body" *ngIf="productos.length !== 0">
    <!-- Layout de dos columnas solo para direccion y pago -->
    <section class="contenido-compra" *ngIf="!enRutaRespuesta">
        <div class="izquierda">
            <router-outlet></router-outlet>
        </div>
        <div class="derecha" *ngIf="!compraExitosa">
            <app-resumen-compra
                [productosLenght]="productosLenght"
                [precioProductos]="precioProductos"
                [precioEnvios]="precioEnvios"
                [cargando]="cargando"
                [actualizacionExitosa]="actualizacionExitosa"
                [botonHabilitado]="validarPasoCompleto()"
                [pasoActual]="pasoActual"
                (procesarCompra)="procesarONavegar()">
            </app-resumen-compra>
        </div>
    </section>

    <!-- Layout de ancho completo para la página de respuesta -->
    <section class="contenido-respuesta" *ngIf="enRutaRespuesta">
        <router-outlet></router-outlet>
    </section>

    <app-footer></app-footer>
</div>