<div class="contenedor">
    <div>
        <div class="cuadroImg" [class.loaded]="imagenCargada">
            <img [src]="fotoUrl" 
                 [alt]="imagenCargada ? productoGuardado.nombre : ''"
                 (load)="onImageLoad()"
                 (click)="navegar(['prod/' + productoGuardado.id])"
                 *ngIf="fotoUrl">
        </div>
        <div>
            <p class="titulo" (click)="navegar(['prod/' + productoGuardado.id])">{{productoGuardado.nombre}} <span *ngIf="tamanio !== 'false'">{{productoGuardado.tamanios![+tamanio].gramos}}</span></p>
            <p>Sabor: {{productoGuardado.sabor}}</p>
            <p *ngIf="productoGuardado.envioGratis" class="envioGratis">Envio gratis</p>
            <p *ngIf="!productoGuardado.envioGratis" class="envioPrecio"><span>Recíbelo</span> por <span>$ {{productoGuardado.precioEnvio}}</span></p>
        </div>
        <div>
            <p (click)="eliminarGuardado()">Eliminar</p>
            <p (click)="navegar([userUsuario + '/perfil/productos'])">Más productos del vendedor</p>
            <p (click)="agregarCarrito()">Enviar al carrito</p>
        </div>
    </div>
    <div>
        <ng-container *ngIf="productoGuardado.descuento">
            <p>$ {{productoGuardado.precio | number: '1.0-0'}}</p>
            <div>
                <p>$ {{productoGuardado.precioComparacion | number: '1.0-0'}}</p><p> Oferta</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!productoGuardado.descuento">
            <ng-container *ngIf="tamanio !== 'false'">
                <p>$ {{productoGuardado.tamanios![+this.tamanio].precio | number: '1.0-0'}}</p>
            </ng-container>
            <ng-container *ngIf="tamanio == 'false'">
                <p>$ {{productoGuardado.precio | number: '1.0-0'}}</p>
            </ng-container>
            <p></p>
        </ng-container>
        <p></p>
    </div>
</div>