.cuadro{
    width: 243.5px;
    cursor: pointer;
    border-radius: 6px;
    border: 1px solid #f0f0f0;
    margin: 12px 28px 30px 10px;
    transform: scale(1.05);
    position: relative;
    background-color: white;
    box-shadow: 0 0 5px #eee;
    height: 455px;
    &:hover {
        opacity: .96;
        border: 1px solid #ddd;
        box-shadow: 0 0 10px #ddd;
    }
    .heart2{
        display: block;
        animation-name: heartAparecer;
        animation-duration: .8s;
    }
    .recuadroImg{
        width: calc(100% - 20px);
        height: 240px;
        padding: 10px;
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #e6e6e6;
        background: #f5f5f5;
        &.loaded{
            background: transparent;
        }
        img{
            object-fit: contain;
            max-width: 100%;
            max-height: 100%;
            border-radius: 3px 3px 0px 0px;
        }
    }

    .titulo-producto{
        font-size: 14px;
        color: #707070;
        font-weight: 520;
        margin:22px 13px 4px 17px;
        word-spacing: 1px;
        letter-spacing: .5px;
    }

    .precio-final{
        font-size: 23.5px;
        margin: 8px 5px 2px 17px;
        color: #606060;
        word-spacing: 1px;
        font-weight: 480;
        letter-spacing: 1.2px;
        span{
            font-size: 18.5px;
            font-weight: 450;
            letter-spacing: 0;
            color: #606060;
            transform: translateX(3px);
        }
    }

    .descuento{
        display: flex; 
        margin: 6px 0 6px 0;
        .precio-anterior {
            position: relative;
            font-size: 16px;
            font-weight: 450;
            color: #808080;
            margin: 0 8px 10px 18px;
            letter-spacing: .6px;
            &::after{
              content: "";
              position: absolute;
              left: 0;
              top: 50%;
              width: 100%;
              border-bottom: 1.5px solid rgba($color: #444, $alpha: 0.55);
            }
          }
        .oferta {
            font-size: 13.5px;
            height: 21px;
            line-height: 22px;
            letter-spacing: .5px;
            padding: 0 9px;
            background: #37c965;
            color: #fff;
            font-weight: 520;
            margin: 0;
            margin-left: 4px;
          }
    }
    //-------------------------------------------
    .corazones{
        transform: translateY(215px);
        .corazon-visible{
            opacity: 1 !important;
        }
        .fondo-corazon{
            transition: .2s;
            opacity: 0;
            position: absolute;
            left: 8.5%;
            top: 44.5%;
            width: 25px;
            height: 25px;
            background-color: #fff;
            border-radius: 50%;
            box-shadow: 0 0 5px 5px rgba(#fff, 1);
            transform: translateY(5px);
        }
        .corazon{
            top: 1px;
            position: absolute;
            font-size: 25px;
            color: #ffad84;
            cursor: pointer;
            z-index: 5;
            &:hover ~ .corazon-full{
                color: #fff1ea;
            }
        }
        .corazon-full{
            top: 1px;
            position: absolute;
            font-size: 25px;
            color: #fff;
            cursor: pointer;
        }
        .corazon-click{
            animation: corazon .3s;
            color: #ffad84 !important;
        }
        @keyframes corazon {
            0%{
                font-size: 0;
                top: 21px;
                right: 13.5px;
            }
            50%{
                font-size: 33px;
                right: -3.5px;
                top: -2px;
            }
            100%{
                font-size: 25px;
                right: .5px;
                top: 1px;
            }
        }
    }
    @media screen and (max-width: 1523px) {
        margin: 0 18px 18px 0;
        transform: scale(1);
    }
    @media screen and (max-width: 1417px) {
        margin: 12px 28px 30px 10px;
        transform: scale(1.05);
    }
    @media screen and (max-width: 1217px) {
        margin: 0 18px 18px 0;
        transform: scale(1);
    }
    @media screen and (max-width: 1129px) {
        margin: 12px 28px 30px 10px;
        transform: scale(1.05);
    }
    @media screen and (max-width: 907px) {
        margin: 0 18px 18px 0;
        transform: scale(1);
    }
}

//------------------------------------

.eliminar{
    position: absolute;
    bottom: 4px;
    left: 16px;
    font-size: 14.5px;
    font-weight: 450;
    color: #959595;
    letter-spacing: .3px;
    &:hover{
        color: #777;
    }
}