<div class="cuadro" (mouseenter) ="mostrarCorazon() "  (mouseleave) ="mostrarCorazon()">
    <div class="corazones">
        <div class="fondo-corazon" [ngClass]="{'corazon-visible': corazonOver == true || corazonClick == true }">
            <ng-icon class="corazon" name="heroHeart" (click)="agregarFavorito()"></ng-icon>
            <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "corazonClick == true"></ng-icon>
        </div>
    </div>
    
    <div (click)="navegar(['prod/',producto.id], $event)" >
                <div class="cuadroImg" [class.loaded]="imagenCargada">
            <img [src]="fotoUrl" 
                 [alt]="imagenCargada ? producto.nombre : ''"
                 (load)="onImageLoad()"
                 *ngIf="fotoUrl">
        </div>
        <div style="height: 100px; position: relative;">
            <p class="titulo-producto">{{ producto.nombre }}</p>
            <p class="precio-final">$ {{ producto.precio | number:'1.0-0'}} <span>COP</span></p>
            <div class="descuento" *ngIf="producto.descuento">
                <p class="precio-anterior">$ {{ producto.precioComparacion | number: '1.0-0' }}</p>
                <p class="oferta" *ngIf='producto.descuento'>Oferta</p>
            </div>
        </div>
        <p class="eliminar" (click)="eliminarProductoHistorial(); $event.stopPropagation();">Eliminar</p>
    </div>
</div>
