<div class="content">
    <h2>Pasos de compra</h2>
    <section>
        <h3>Paso 1: Explorar Productos y Características:</h3>
        <p>Lo primero que debes hacer al utilizar Homix es explorar nuestro catálogo de productos. Navega a través de las diversas categorías y selecciona el producto que deseas comprar. Asegúrate de leer cuidadosamente las características del producto, como el tamaño, color y otras especificaciones relevantes, para elegir el producto que mejor se adapte a tus necesidades.</p>
        
        <h3>Paso 2: Añadir al Carrito:</h3>
        <p>Una vez que hayas seleccionado un producto que deseas comprar, tienes la opción de “Añadir al carrito”. Esto te permite acumular varios productos en tu carrito antes de proceder a la compra. Puedes seguir explorando y agregando más artículos si lo deseas.</p>
        <p>Si estás listo para comprar el producto de inmediato, puedes seleccionar la opción “Comprar ahora” en la página del producto. Esto te llevará directamente al proceso de pago.</p>

        <h3>Paso 3; (Continuación): Dirección de Envío – Formulario de Datos (Si no hay dirección vinculada)</h3>
        <p>En caso de tener una dirección, se le enviará al resumen de lo que quiere comprar.</p>
        <p>Si no tienes una dirección de envío previamente vinculada a tu cuenta, al seleccionar “Pagar” te dirigirá automáticamente a un formulario de datos de envío. Aquí, proporcionarás la información necesaria para la entrega del producto. Los campos comunes que puedes esperar incluirán:</p>
        <ul>
            <li>Nombre completo.</li>
            <li>Dirección de envío (calle, número, código postal, ciudad).</li>
            <li>Información de contacto (número de teléfono y correo electrónico).</li>
        </ul>

        <h3>Paso 4: Selección del Producto:</h3>
        <p>En la página de compra, verás el producto que has elegido. Asegúrate de que sea el producto correcto y que cumpla con tus expectativas. Si necesitas hacer cambios, puedes volver atrás para ajustar tu selección.</p>

        <h3>Paso 5: Aplicar Descuento (si corresponde):</h3>
        <p>Si dispones de un código de descuento o un cupón promocional, puedes ingresarlo en la casilla correspondiente en esta etapa. El descuento se aplicará al precio total de tu compra.</p>

        <h3>Paso 6: Verificar Datos de Envío:</h3>
        <p>Asegúrate de que la dirección de envío y otros datos personales estén ingresados de forma correcta. Si necesitas realizar modificaciones en la dirección de entrega, puedes hacerlo en esta etapa antes de confirmar la compra.</p>

        <h3>Paso 7: Pago:</h3>
        <p>Después de aplicar cualquier descuento (si es aplicable), selecciona la opción “Procesar Compra” para proceder con la compra. Serás redirigido al proceso de pago seguro.</p>

        <h3>Paso 8: Pago con Stripe:</h3>
        <p>En la página de pago, se te pedirá que ingreses la información de tu tarjeta de crédito o débito, elige el método de pago que prefieras. Homix acepta una variedad de opciones, como tarjetas de crédito, tarjetas de débito y otros métodos seguros. Selecciona el que mejor te convenga. Stripe cifra tus datos financieros para proteger tu información personal. Selecciona tu método de pago, ingresa los detalles y completa la transacción.</p>

        <h3>Paso 9: Finalización de la Compra:</h3>
        <p>Una vez que hayas seleccionado el método de pago y verificado todos los detalles, confirma la compra. Homix procesará tu pedido y te proporcionará una confirmación de compra, que incluirá un resumen de los productos adquiridos y los detalles de la transacción.</p>
        <p>¡Listo! Has completado con éxito tu compra en Homix, siguiendo estos pasos detallados. Si en algún momento tienes preguntas o experimentas dificultades durante el proceso de compra, nuestro equipo de soporte está disponible para ayudarte. Agradecemos que hayas elegido Homix para tus compras en línea y estamos aquí para brindarte una experiencia de compra satisfactoria.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'compras/pasos-compra'"></app-encuesta-utilidad>
</div>