.contenedor{
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 180px;
    box-shadow: 0 -0.1px 2.6px rgba(0,0,0,0.17), 0 3.1px 2.3px rgba(0,0,0,0.05);
    border-radius: 8px;
    background: white;
    display: flex;

    > img{
        width: 120px;
        height: 120px;
        margin-top: 30px;
        margin-left: 30px;
        border-radius: 8px;
        object-fit: contain;
        border: 1px solid #ddd;
        padding: 2px;
    }

    > div:nth-child(2){
        margin-top: 15px;
        margin-left: 25px;
        height: 3px;
        width: 40%;
        h3{
            color: #707070;
            font-weight: 450;
            font-size: 14px;
            margin-bottom: 5px;
            letter-spacing: .4px;
            word-spacing: 1px;

        }
        p:nth-child(2){
            font-size: 19px;
            font-weight: 480;
            color: #555;
            margin: 0;
            min-width: 50px;
            word-spacing: 1px;
        }
        :nth-child(3){
            font-size: 14px;
            font-weight: 500;
            color: #1a98f3;
            margin-top: 8px;
            letter-spacing: .3px;
            word-spacing: 1px;
            cursor: pointer;
            &:hover{
                color: #0e90ed;
            }
        }
    }

    > div:nth-child(3){
        cursor: pointer;
        margin-top: 30px;
        margin-left: 5%;
        div{
            display: flex;
            img{
                width: 20px;
                height: 20px;
                padding: 2px;
            }
            p{
                margin-top: 2px;
                padding-left: 5px;
                font-size: 14px;
                color: #707070;
                font-weight: 420;
                letter-spacing: .3px;
                word-spacing: 1px;
                transform: translateY(1px);
            }
        }
    }

    > div:nth-child(4){
        position: absolute;
        display: flex;
        flex-direction: column;
        right: 30px;
        top: 30px;
        button:nth-child(1){
            width: 150px;
            margin-bottom: 20px;
            border-radius: 8px;
            border: none;
            background-color: #FF9C59;
            color: #fff;
            padding: 5px;
            font-weight: 450;
            cursor: pointer;
            &:hover{
                background: #4fd379;
            }
        }
        button:nth-child(2){
            border-radius: 8px;
            background: #fff;
            border: 1px solid #47d373;
            color: #42d16f;
            padding: 5px;
            font-weight: 450;
            cursor: pointer;
        }
    }

}