.agenda{
    margin: 20px 60px 10px 10px;
    h4{
        margin: 10px 0 15px;
        color: #606060;
        font-size: 18px;
        font-weight: 440;
        letter-spacing: .4px;
    }
    .fechas{
        display: grid;
        column-gap: 7px;
        row-gap: 8px;
        div{
            height: 65px;
            border-radius: 5px;
            border: 1px solid #c9c9c9;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            p{
                font-size: 13px;
                margin: 1px;
                color: #333;
            }
            p:nth-child(2){
                font-size: 17px;
                font-weight: 440;
            }
        }
    }
    .fechaSieteCampos{
        grid-template-columns: repeat(7, 1fr);
    }
    .fechaSeisCampos{
        grid-template-columns: repeat(6, 1fr);
    }
    .horas{
        margin-top: 15px;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 7px;
        div{
            height: 38px;
            border-radius: 20px;
            border: 1px solid #c9c9c9;
            margin-bottom: 10px;
            cursor: pointer;
            p{
                font-size: 14.5px;
                margin: 0;
                text-align: center;
                line-height: 38px;
                letter-spacing: .8px;
                font-weight: 430;
                color: #333;
            }
        }
    }
    .fechas, .horas{
        .seleccionado{
            border: 1px solid #fa8939 !important;
            background: #fff8f3;
        }
        >div{
            &:hover{
                border: 1px solid #fa8939 !important;
            }
        }
    }
    .politicas{
        margin-top: 14px;
        font-size: 13.5px;
        line-height: 22px;
        color: #606060;
        letter-spacing: .3px;
        span{
            color: #f48535;
            cursor: pointer;
        }
    }
    button{
        padding: 10px 20px;
        border-radius: 5px;
        background: #FF9C59;
        border: none;
        color: white;
        font-size: 15.5px;
        letter-spacing: .4px;
        font-weight: 480;
        cursor: pointer;
        &:hover{
            background: #fd964d;
        }
    }
    @media (max-width: 1050px) {
        margin-right: 0 !important;
	}
    @media (max-width: 600px) {
        .horas{
            grid-template-columns: repeat(4, 1fr);
        }
	}
    @media (max-width: 510px) {
        margin-left: 0;
        .fechas{
            grid-template-columns: repeat(5, 1fr) !important;
            margin-bottom: 20px;
        }
        .horas{
            grid-template-columns: repeat(3, 1fr);
        }
	}
    @media (max-width: 450px) {
        .fechas{
            grid-template-columns: repeat(4, 1fr) !important;
        }
        .horas{
            grid-template-columns: repeat(3, 1fr);
        }
	}
}

.success{
    width: 130px;
    height: 38px;
    background-color: #3fd06b !important;
    animation: botonCheck .5s;
    &:hover{
        background-color: #3fd06b !important;
    }
    ng-icon{
        margin-top: -5px;
        font-size: 26px;
        animation: check .8s;
    }
}

@keyframes botonCheck {
	0%{
		transform: scale(.8);
	}
    65%{
        transform: scale(1.05);
    }
	100%{
		transform: scale(1);
	}
}
@keyframes check {
	0%{
		transform: scale(.0);
	}
    35%{
        transform: scale(.0);
    }
    80%{
        transform: scale(1.3);
    }
	100%{
		transform: scale(1);
	}
}