.titulo{
    position: absolute;
    top: -50px;
    left: 0;
    font-size: 21px;
    
    font-weight: 500;
    color: #444;
}
.direccion{
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    width: calc(100% - 50px);
    margin-left: 25px;
    height: 110px;
    background-color: #fefefe;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    border-left: 4px solid #FF9C59;
    > ng-icon{
        font-size: 30px;
        color: #FF9C59;
        margin: 10px;
    }
    .dir{
        width: calc(100% - 250px);
        margin-left: 52px;
        transform: translateY(-32px);
        *{
            margin: 0;
            letter-spacing: .4px;
            word-spacing: 1px;
        }
        h2{
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 9px;
            color: #666;
            letter-spacing: .7px;
            word-spacing: 1.4px;
        }
        p{
            font-size: 14px;
            font-weight: 440;
            padding-bottom: 5px;
            color: #707070;
            word-spacing: .8px;
        }

    }
    .editarDireccion{
        display: flex;
        position: absolute;
        top: 14px;
        right: 20px;
        cursor: pointer;
        p{
            font-size:14px; 
            font-weight: 420;
            text-align: left;
            color: #777;
            word-spacing: 1px;
            font-weight: 450;
            letter-spacing: 0.5px;
            margin: 0;
            padding-left: 4px;
        }
        ng-icon{
            color: #FF9C59;
            font-size: 18px;
            transform: translateY(-1px);
        }

    }
}
.producto{
    position: relative;
    margin-top: 10px;
    width: calc(100% - 50px);
    margin-left: 25px;
    height: 150px;
    background-color: #fefefe;
    border: 1px solid #e8e8e8;
    border-radius: 6px;
    border-left: 4px solid #cbcbcb;
    display: flex;
    .contenidoImg{
        position: relative;
        width: 104px;
        height: 104px;
        margin-top: 20px;
        margin-left: 25px;
        border-radius: 8px;
        border: 1px solid #ddd;
        padding: 3px;
        display: flex;
        justify-content: center;
        background: #f5f5f5;
        &.loaded{
            background: transparent;
        }
        img{
            object-fit: contain;
            border-radius: 5px;
            position: absolute;
            cursor: pointer;
            max-width: calc(100% - 4px);
            max-height: calc(100% - 4px);
            z-index: 1;
        }
    }
    .fondoVisible{
        &::before{
            content: '';
            width: calc(100% - 5px);
            height: calc(100% - 5px);
            border-radius: 5px;
            background: linear-gradient(to right, #fafafa, #f0f0f0);
            position: absolute;
        }
    }
    div:nth-child(2){
        margin-top: 20px;
        margin-left: 30px;
        height: 3px;
        p:nth-child(1){
            font-size: 17px;
            font-weight: 480;
            color: #555;
            margin: 0;
            max-width: 500px;
            min-width: 50px;
            word-spacing: 1px;
        }
        div{
            display: flex;
            height: 15px;
            margin-top: 15px;
            margin-left: 0;
            p:nth-child(1){
                font-size: 15px;
                font-weight: 400;
                color: #888;
                list-style: 1px solid #555;
                position: relative;
                margin-right: 10px;
                letter-spacing: .3px;
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 56%;
                    width: 100%;
                    height: 1.5px;
                    background-color: rgba($color: #000000, $alpha: .3);
                }
            }
            p:nth-child(2){
                font-size: 15px;
                font-weight: 500;
                color: #1a98f3;
                margin-top: 0;
                letter-spacing: .3px;
            }
        }
        p:nth-child(3), .precio{
            margin: 8px 0 5px 0;
            font-size: 25px;
            font-weight: 400;
            color: #444;
        }
        .envioGratis{
            font-size: 14px !important;
            font-weight: 500 !important;
            color: #4ac94c !important;
            margin: 10px 0 !important;
            letter-spacing: .3px !important;
            word-spacing: 1px !important;
        }
        .envioPrecio{
            font-size: 14px !important;
            font-weight: 500 !important;
            word-spacing: 1px !important;
            letter-spacing: .3px !important;
            margin: 10px 0 !important;
            color: #888 !important;
            span{
                color: #777;
            }
        }
    }
    > p:nth-child(3){
        letter-spacing: .5px;
        word-spacing: .6px;
        color: #777;
        font-size: 11.5px;
        font-weight: 420;
        text-align: end;
        position: absolute;
        bottom: 45px;
        right: 20px;
    }
    >div:nth-child(4){
        position: absolute;
        bottom: 20px;
        right: 20px;
        display: grid;
        width: 85px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid #ddd;
        grid-template-columns: 1fr 1fr 1fr;
        overflow: hidden;
        align-items: center;
        button{
            border: none;
            background-color: white;
            font-size: 23px;
            font-weight: 250;
            width: 100%;
            height: 100%;
            cursor: pointer;
            color: #707070;
            &:hover{
                color: #ed9150;
            }
        }
        p{
            color: #606060;
            font-size: 13px;
            font-weight: 420;
            margin: 0;
            text-align: center;
            letter-spacing: 1.5px;
        }
    }

}