<div class="content">
    <h2>Cambiar contraseña</h2>
    <section>
        <p>Mantener tu contraseña actualizada es una medida esencial para garantizar la seguridad de tu cuenta en Homix.</p>
        <h3>Modificar contraseña desde el perfil</h3>
        <p>Si deseas cambiar tu contraseña, sigue estos pasos:</p>
        <ol>
            <li>Accede a tu perfil.</li>
            <li>Dirígete a la sección "Seguridad".</li>
            <li>Dentro de esta sección, encontrarás la opción para modificar tu contraseña.</li>
        </ol>
        <p>Para garantizar la seguridad de tu cuenta, deberás ingresar tu contraseña actual. Después de esto, podrás establecer una nueva contraseña de tu elección.</p>

        <h3>¿Olvidaste tu Contraseña?</h3>
        <p>En caso de que hayas olvidado tu contraseña y no puedas iniciar sesión, puedes recuperarla siguiendo estos pasos:</p>
        <ol>
            <li>Ve a la sección "Olvidé mi contraseña" ubicada debajo del formulario de inicio de sesión.</li>
            <li>Proporciona el correo electrónico asociado a tu cuenta de Homix.</li>
            <li>Se te enviará un código de verificación (SMS) al número de teléfono que registraste al crear tu cuenta.</li>
            <li>Luego de ingresar el código, recibirás un correo electrónico que te permitirá restablecer tu contraseña.</li>
        </ol>
        <p>Estos procedimientos te garantizan un control total sobre la seguridad de tu cuenta y la posibilidad de recuperar el acceso en caso de olvidar tu contraseña. En Homix, tu privacidad y seguridad son nuestra prioridad.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'mis-datos/cambiar-contraseña'"></app-encuesta-utilidad>
</div>