<div class="contenedor">
    <div>
        <div class="cuadroImg" [class.loaded]="imagenCargada">
            <img [src]="fotoUrl" 
                 [alt]="imagenCargada ? productoCarrito.nombre : ''"
                 (load)="onImageLoad()"
                 (click)="navegar(['prod/' + productoCarrito.id])"
                 *ngIf="fotoUrl">
        </div>
        <div>
            <p class="titulo" (click)="navegar(['prod/' + productoCarrito.id])">{{productoCarrito.nombre}} <span *ngIf="tamanio !== 'false' && productoCarrito.tamanios">{{productoCarrito.tamanios![+tamanio].gramos}}</span></p>
            <p *ngIf="estiloNombre && productoCarrito.estilos && productoCarrito.estilos.length > 1">Estilo: {{estiloNombre}}</p>
            <p *ngIf="productoCarrito.envioGratis" class="envioGratis">Envio gratis</p>
            <p *ngIf="!productoCarrito.envioGratis" class="envioPrecio"><span>Recíbelo</span> por <span>$ {{productoCarrito.precioEnvio | number: '1.0-0'}}</span></p>
        </div>
        <div>
            <p (click)="eliminarCarrito()">Eliminar</p>
            <p (click)="navegar([userUsuario + '/perfil/productos'])">Más productos del vendedor</p>
            <p (click)="agregarGuardado()">Guardar para después</p>
        </div>
    </div>
    <div>
        <ng-container *ngIf="productoCarrito.descuento">
            <p>$ {{productoCarrito.precio | number: '1.0-0'}}</p>
            <div>
                <p>$ {{productoCarrito.precioComparacion | number: '1.0-0'}}</p><p> Oferta</p>
            </div>
        </ng-container>
        <ng-container *ngIf="!productoCarrito.descuento">
            <ng-container *ngIf="tamanio !== 'false' && productoCarrito.tamanios">
                <p>$ {{productoCarrito.tamanios![+this.tamanio].precio | number: '1.0-0'}}</p>
            </ng-container>
            <ng-container *ngIf="tamanio == 'false' || productoCarrito.estilos">
                <p>$ {{productoCarrito.precio | number: '1.0-0'}}</p>
            </ng-container>
            <p></p>
        </ng-container>
        <p></p>
        <div>
            <button (click)="cambiarUnidad('-', indice)" [disabled]="unidad <= 1">-</button><p>{{unidad}}</p><button (click)="cambiarUnidad('+', indice)" [disabled]="unidad >= maxUnidades">+</button>
        </div>
    </div>
</div>