<div class="content">
    <h2>Aplicación movil</h2>
    <section>
        <h3>¡Pronto Disponible en Dispositivos Móviles!</h3>
        <p>Estamos emocionados por anunciar que en un futuro cercano, Homix estará disponible en dispositivos móviles para ofrecerte una experiencia de compra y venta aún más conveniente y accesible. Mantente atento para recibir actualizaciones sobre el lanzamiento de nuestra aplicación móvil, que te permitirá disfrutar de todo lo que tenemos para ofrecer desde la palma de tu mano.</p>
    </section>
</div>