<div class="informacion todo perfil">
    <div class="mainPerfilMenu">
        <div class="circulo"></div>
        <img src="assets/img/usuarios/user.svg" class="picPerfil" alt="Image">
        <div>
            <p class="nombre nombreCompletoPerfil">{{datosUsuario?.usuario!}} <span *ngIf="datosUsuario?.diasComoVendedor" class="seguidores">{{datosUsuario?.seguidores!}}<span>seguidores</span></span> </p>
            <p *ngIf="datosUsuario?.diasComoVendedor" class="dias-vendiendo">{{diasHomix}} como vendedor</p>
            <p *ngIf="!datosUsuario?.diasComoVendedor" class="seguidores">{{datosUsuario?.seguidores!}}<span>seguidores</span></p>
        </div>
        <div *ngIf="usuarioDiferente">
            <img src="assets/img/logo/iconos/reportar.svg">
            <img src="assets/img/logo/iconos/reportar-full.svg">
        </div>
        <div *ngIf="usuarioDiferente">
            <img src="assets/img/logo/iconos/seguir.svg">
            <img (click)="funcionSeguidor()" src="assets/img/logo/iconos/seguir-over.svg">
            <img *ngIf="siguiendo" (click)="funcionSeguidor()" src="assets/img/logo/iconos/seguidor.svg">
        </div>
    </div>
  
    <!-------------Contenido PERFIL---------------------->
  
    <div class="contenidoPerfil" *ngIf="usuarioDiferente">
        <div [ngClass]='{"selected": url === "informacion"}' (click)='navegar([datosUsuario?.usuario + "/perfil/informacion"], $event)' class="opcionContenido">
            <ng-icon name="heroDocumentTextSolid"></ng-icon><p>Información</p>
        </div>
        <div [ngClass]='{"selected": url === "productos"}' (click)='navegar([datosUsuario?.usuario + "/perfil/productos"], $event)' class="opcionContenido">
            <ng-icon name="heroBuildingStorefrontSolid"></ng-icon><p>Productos</p>
        </div>
    </div>

    <router-outlet></router-outlet>
  
</div>
  