<div class="content">
    <nav [@menu4]='state' class="menu">
      <button [@menu4]='state' (click)='animarMenu()' class="botonX" ><ng-icon name="ionClose"></ng-icon></button>
      <ul [@menu4]='state' [@submenuULprincipal]='submenuState[0]'>
        <li class="titulo"><ng-icon name="heroBars3Solid"></ng-icon> Todo</li>

        <li class="item-submenu" menu="1" *ngIf="user">
            <a (click)='animarSubmenu(1)'><ng-icon class="menu-icon" name="heroUserCircleSolid"></ng-icon>Tu cuenta<ng-icon class="icono-next" name="heroChevronRightMini"></ng-icon></a>
            <ul [@submenu]='submenuState[1]' class="submenu">
              <li class="titulo"><ng-icon (click)='animarSubmenu(1)' name="heroArrowSmallLeft" class="atras"></ng-icon><ng-icon name="heroUserCircleSolid"></ng-icon>Tu cuenta</li>
              <li><a (click)="navegar([user + '/perfil/informacion'],$event)" class="miPerfilURL"><ng-icon class="menu-icon" name="aspectsContactCard"></ng-icon>Perfil</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar([user + '/compras'],$event)"><ng-icon class="menu-icon" name="heroShoppingCart"></ng-icon>Compras</a></li>
              <li><a (click)="navegar([user + '/favoritos'],$event)"><ng-icon class="menu-icon" name="heroStar"></ng-icon>Favoritos</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar([user + '/metricas/negocio'],$event)"><ng-icon class="menu-icon" name="heroRectangleGroup"></ng-icon>Resumen</a></li>
              <li><a (click)="navegar([user + '/publicaciones'],$event)"><ng-icon class="menu-icon" name="heroBuildingStorefront"></ng-icon>Publicaciones</a></li>
              <li><a (click)="navegar([user + '/ventas'],$event)"><ng-icon class="menu-icon" name="heroCurrencyDollar"></ng-icon>Ventas</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="navegar([user + '/facturacion/facturas-reportes'],$event)"><ng-icon class="menu-icon" name="heroDocumentText"></ng-icon>Facturación</a></li>
              <div class="linea-Menu"></div>
              <li><a (click)="direccionarSeguridad()"><ng-icon class="menu-icon" name="heroFingerPrint"></ng-icon>Seguridad</a></li>
              <div class="linea-Menu"></div>
              <li  class="cerrarSesion">
                <a (click)="navegar([''],$event); signOut()" ><ng-icon class="menu-icon" name="heroArrowRightOnRectangle"></ng-icon>Salir</a>
              </li>

            </ul>
        </li>
        <li menu="2">
          <a (click)='animarSubmenu(2)'><ng-icon class="menu-icon" name="heroSquares2x2Solid"></ng-icon>Categorías<ng-icon style="margin-left: 125px;" class="icono-next" name="heroChevronRightMini"></ng-icon></a>
          <ul [@submenu]='submenuState[2]' class="submenu">
            <li class="titulo"><ng-icon (click)='animarSubmenu(2)' name="heroArrowSmallLeft" class="atras"></ng-icon><ng-icon name="heroSquares2x2Solid"></ng-icon>Categorías</li>
            <li><a (click)="navegar(['busqueda/Cuadros'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Cuadros</a></li>
            <li><a (click)="navegar(['busqueda/Repisas'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Repisas</a></li>
            <li><a (click)="navegar(['busqueda/Iluminación'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Iluminación</a></li>
            <li><a (click)="navegar(['busqueda/Macetas'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Macetas</a></li>
            <li><a (click)="navegar(['busqueda/Relojes'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Relojes</a></li>
            <li><a (click)="navegar(['busqueda/Difusores'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Difusores</a></li>
            <li><a (click)="navegar(['busqueda/Adornos'],$event)"><ng-icon class="menu-icon" name="heroCheckCircle"></ng-icon>Adornos</a></li>
          </ul>
        </li>
        <li *ngIf="usuarioInterno"><a (click)="navegar(['portal-empleado/' + idUsuario],$event)"><ng-icon class="menu-icon" name="iconoirViewStructureUp"></ng-icon>Portal de empleado</a></li>
        <li><a (click)="navegar([user ? 'notificaciones' : 'cuenta/crear-cuenta'],$event)"><ng-icon class="menu-icon" name="ionNotificationsOutline"></ng-icon>Notificaciones</a></li>
        <li><a (click)="navegar([user ? user + '/carrito' : 'cuenta/crear-cuenta'],$event)"><ng-icon class="menu-icon" name="heroShoppingCart"></ng-icon>Carrito</a></li>
        <li><a (click)="navegar([user ? user + '/compras' : 'cuenta/crear-cuenta'],$event)"><ng-icon class="menu-icon" name="heroTruck"></ng-icon>Pedidos</a></li>
        <li><a (click)="navegar([user ? user + '/historial' : 'cuenta/crear-cuenta'],$event)"><ng-icon class="menu-icon" name="heroNewspaper"></ng-icon>Historial</a></li>
        <li><a (click)="navegar(['vender'],$event)"><ng-icon class="menu-icon" name="heroBanknotes"></ng-icon>Vender</a></li>
        <div class="linea-Menu"></div>
        <li><a (click)="navegar(['privacidad'],$event)"><ng-icon class="menu-icon" name="heroUsers"></ng-icon>Seguridad y privacidad</a></li>
        <li><a (click)="navegar(['ayuda'],$event)"><ng-icon class="menu-icon" name="heroQuestionMarkCircle"></ng-icon>Ayuda</a></li>
        <div class="linea-Menu"></div>
        <div class="botones" *ngIf="sinUsuario">
          <button (click)="navegar(['cuenta/iniciar-sesion'],$event)" class="iniciar li">Iniciar Sesion</button>
          <button (click)="navegar(['cuenta/crear-cuenta'],$event)" class="crear li">crear cuenta</button>
        </div>
        <div style="margin:30px;"></div>
      </ul>
    </nav>
  </div>
  <nav [@menu4-gray]='state' (click)='animarMenu()' id="menu4-gray"></nav>