<div class="formulario">
    <h1>Crear cuenta</h1>
    <!----------->
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="nombres">
            <div>
                <label for="" [ngClass]="{'errorText': hasError('name')}">Nombre</label>
                <input type="text" formControlName="name" [ngClass]="{'invalid': hasError('name')}">
                <app-error-message [control]="form.get('name')!" />
            </div>

            <div>
                <label for="" [ngClass]="{'errorText': hasError('lastname')}">Apellido</label>
                <input type="text" formControlName="lastname" [ngClass]="{'invalid': hasError('lastname')}">
                <app-error-message [control]="form.get('lastname')!" />
            </div>
        </div>
        <!----------->
        <label for="email" [ngClass]="{'errorText': hasError('email') || correoExistente != ''}" for="email" >Correo</label>
        <input name="email" type="text" placeholder="nombre@correo.com" formControlName="email" [ngClass]="{'invalid': hasError('email') || correoExistente != '' }" (input)="correoNuevo()">
        <app-error-message [control]="form.get('email')!" patternType="email"/>
        <p *ngIf="correoExistente !== ''" class="correoExistente">{{correoExistente}}</p>

        <!----------->
        <label for="password" [ngClass]="{'errorText': hasError('password')}" for="email" >Contraseña</label>
        <input class="password" name="password" type="password" placeholder="* * * *" formControlName="password" (input)="validarContrasena($event)" [ngClass]="{'invalid': hasError('password')}">
        <app-error-message [control]="form.get('password')!" patternType="password" />
        <section class="requerimientos">
            <p><ng-icon name="matCheck" *ngIf="requerimientos[0]" class="check"></ng-icon><ng-icon name="matClose" *ngIf="!requerimientos[0]"></ng-icon> Mínimo 1 minúscula</p>
            <p><ng-icon name="matCheck" *ngIf="requerimientos[1]" class="check"></ng-icon><ng-icon name="matClose" *ngIf="!requerimientos[1]"></ng-icon> Mínimo 1 mayúscula</p>
            <p><ng-icon name="matCheck" *ngIf="requerimientos[2]" class="check"></ng-icon><ng-icon name="matClose" *ngIf="!requerimientos[2]"></ng-icon> Mínimo 1 número</p>
        </section>

        <!----------->
        <label for="passwordVerify" *ngIf="inputFunction" [ngClass]="{'errorText': hasError('passwordVerify') || !passwordCheck}">Verificar contraseña</label>
        <label for="passwordVerify" *ngIf="!inputFunction" [ngClass]="{'errorText': hasError('passwordVerify')}">Verificar contraseña</label>
        <input class="password" name="passwordVerify" type="password" placeholder="* * * * *" formControlName="passwordVerify" [ngClass]="{'invalid': hasError('passwordVerify') || !passwordCheck}" *ngIf="inputFunction"  (input)="passwordVerifyValidator(form)">
        <input class="password" name="passwordVerify" type="password" placeholder="* * * * *" formControlName="passwordVerify" [ngClass]="{'invalid': hasError('passwordVerify')}" *ngIf="!inputFunction">
        <app-error-message [control]="form.get('passwordVerify')!"/>
        <p class="errorPasswordVerify" *ngIf="inputFunction && !passwordCheck">La contraseña no coincide con la anterior</p>


        <!----------->
        <div class="politicas">
            <ng-icon *ngIf="checkedbox" name="matCheck" ></ng-icon>
            <input type="checkbox" formControlName="checkbox" (change)="handleCheckBoxChange()" [ngClass]="{'checkBoxError': !checkbox, 'checkedBox': checkedbox}" name="checkbox">
            <p [ngClass]="{'checkErrorP': !checkbox}" for="checkbox">Declaro que he leído y acepto la nueva <span (click)="navegar('privacidad')"> Política de Privacidad</span> y los <span (click)="navegar('terminos-condiciones')">Términos y Condiciones</span> de Homix.</p>
        </div>

        <div class="botones">
            <button type="button" (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button> 
            <button type="submit"><span *ngIf="!cargando">Crear</span><span class="loading" *ngIf="cargando"></span></button>
        </div>

        <div id="recaptcha-container"></div>
    </form>

    <p class="redes">O crea tu cuenta con</p>
    <div class="google">
        <div (click)="singInGoogle()">
            <img src="assets/img/logo/iconos/google.svg" alt="">
            <p>Google</p>
        </div>
    </div>
</div>
<div class="welcome" *ngIf="anchoPagina <= 525">
    <h2>Bienvenido</h2>
    <div class="circulo"></div>
</div>