<div class="header1">
    <nav class="menu">
      <ul>
        <div class="ContenidoMenu">
          <button (click)='menuLateral.animarMenu()' class="btn-menu" id="button-menu">
              <p><ng-icon class="menu-icon" name="heroBars3Solid"></ng-icon>
          </button>
          <a (click)="navegar('')" [ngClass]="{'sinLogo': enBuscador}"><img src="../../../../assets/img/logo/logocompleto.svg" alt="" class="logo"></a>
          <ng-container>
            <input class="Buscador" (keyup.enter)="buscarEnter(busqueda.value)" placeholder='Buscar' type="text" #busqueda [(ngModel)]="ultimoDatoUrl" (focus)="enBuscador = true" (blur)="enBuscador = false">
            <div (click)="buscar(busqueda.value)" class="Buscar" ><ng-icon class="search" name="heroMagnifyingGlassMini"></ng-icon></div>
          </ng-container>
            
          <li class="ventas">
            <div class="sign" [ngClass]="{'visible': sign == 'pedidos'}" (click)="$event.stopPropagation()">
              <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
              <span class="triangulo"></span><span class="sombra"></span>
            </div>
            <a (click)="navegar('pedidos')"><ng-icon name="heroTruckSolid"></ng-icon><p>Mis pedidos</p></a>
          </li>

          <li id="dos" class="Interruptor">
            <a><p><ng-icon class="user" name="heroUserCircleSolid"></ng-icon><p class="text-dos">Cuenta</p></a>
            <ul class="User-submenu">
            
              <ng-container *ngIf="!inUser">
                <div class="botones">
                  <a><button (click)="navegar('cuenta/iniciar-sesion')" class="iniciar">Iniciar Sesion</button></a>
                  <a><button (click)="navegar('cuenta/crear-cuenta')" class="crear">crear cuenta</button></a>
                </div>
              </ng-container>

              <ng-container *ngIf="inUser">
                <div class="contentUser">
                  <img
                  (click)='navegar(usuario?.usuario + "/perfil/informacion")'
                    id="picUser"
                    src="assets/img/usuarios/user.svg"
                    class="fotoPerfil"
                    alt="Image">
                  <div>
                    <p  (click)='navegar(usuario?.usuario + "/perfil/informacion")' id="nameUser2"> {{nombre!}} </p>
                    <p (click)='navegar(usuario?.usuario + "/perfil/informacion")'>{{'@' + usuario?.usuario}}</p>
                  </div>
                </div>
                <div  class="linea-Menu"></div>
                <li>
                  <a (click)='navegar(usuario?.usuario + "/perfil/informacion")'>
                    <ng-icon name="heroUserCircle"></ng-icon> Perfil
                  </a>
                </li>
                <li >
                  <a (click)='navegar(usuario?.usuario + "/compras")'>
                    <ng-icon name="heroShoppingCart"></ng-icon> Compras
                  </a>
                </li>
                <li>
                  <a (click)='navegar("vender")'>
                    <ng-icon name="heroBanknotes"></ng-icon> Vender
                  </a>
                </li>

                <div class="linea-Menu" *ngIf="usuarioInterno"></div>
                <li *ngIf="usuarioInterno">
                  <a (click)='navegar(usuario?.usuario + "/publicaciones")'>
                    <ng-icon name="heroBuildingStorefront"></ng-icon> Publicaciones
                  </a>
                </li>
                <li *ngIf="usuarioInterno">
                  <a (click)='navegar(usuario?.usuario + "/ventas")'>
                    <ng-icon name="heroCurrencyDollar"></ng-icon> Ventas
                  </a>
                </li>
                <li *ngIf="usuarioInterno">
                  <a (click)='navegar(usuario?.usuario + "/metricas/negocio")'>
                    <ng-icon name="heroChartPie"></ng-icon> Métricas
                  </a>
                </li>
                <li *ngIf="usuarioInterno">
                  <a (click)="navegar('portal-empleado/' + usuario!.id)">
                    <ng-icon name="iconoirViewStructureUp"></ng-icon>Portal de empleado
                  </a>
                </li>

                <div class="linea-Menu"></div>
                <li class="cerrarSesion">
                    <a (click)="navegar(''); signOut()">
                      <ng-icon name="heroArrowRightOnRectangle"></ng-icon> Salir
                    </a>
                </li>
                <br>
              </ng-container>
            </ul>
            <nav class="menu4-gray2"></nav>
          </li>
          <li class="tres" *ngIf="anchoPagina > 720">
            <a (click)="navegar(usuario?.usuario + '/carrito')"><p><ng-icon class="cart" name="matShoppingCart"></ng-icon><p class="text-tres">Carrito</p></a>
            <span class="cantidadEnCarrito" *ngIf="productosEnCarrito !== 0"><p>{{productosEnCarrito}}</p></span>
          </li>
        </div>
      </ul>
    </nav>
  </div>
  <nav class="MenuInvisible"></nav>
  
  <!----------------------------------------------MENU 2------------------------------------------->
  <div class="header2">
    <nav class="menu2">
      <ul>
        <li *ngIf="anchoPagina > 520">
          <div class="sign" [ngClass]="{'visible': sign == 'direcciones'}" (click)="$event.stopPropagation()">
            <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
            <span class="triangulo"></span><span class="sombra"></span>
          </div>
          <p (click)="direccionarDirecciones()">Agrega tu envío</p>
        </li>
        <li *ngIf="anchoPagina <= 520 ">
          <div class="sign" [ngClass]="{'visible': sign == 'favoritos'}" (click)="$event.stopPropagation()">
            <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
            <span class="triangulo"></span><span class="sombra"></span>
          </div>
          <p (click)="navegar('favoritos')">Favoritos</p>
        </li>
        <li><p (click)="navegar('ofertas-del-dia')">Ofertas</p></li>
        <li>
          <div class="sign" [ngClass]="{'visible': sign == 'historial'}" (click)="$event.stopPropagation()">
            <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
            <span class="triangulo"></span><span class="sombra"></span>
          </div>
          <p (click)="navegar('historial')">Historial</p>
        </li>
        <li>
          <div class="sign" [ngClass]="{'visible': sign == 'compras'}" (click)="$event.stopPropagation()">
            <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
            <span class="triangulo"></span><span class="sombra"></span>
          </div>
          <p (click)="navegar('compras')">Mis compras</p>
        </li>
        <li *ngIf="anchoPagina > 630 ">
          <div class="sign" [ngClass]="{'visible': sign == 'favoritos'}" (click)="$event.stopPropagation()">
            <section><ng-icon name="heroUserCircle"></ng-icon><p>Necesitas una cuenta</p><button (click)="navegar('cuenta/iniciar-sesion')">Iniciar sesión</button></section>
            <span class="triangulo"></span><span class="sombra"></span>
          </div>
          <p (click)="navegar('favoritos')">Favoritos</p>
        </li>
        <li *ngIf="anchoPagina > 700"><p (click)="navegar('vender')">Vender</p></li>
        <li *ngIf="anchoPagina > 450 "><p (click)="navegar('ayuda')">Ayuda</p></li>
        <div *ngIf="usuario && inUser" class="notificaciones" (mouseover)="mouseIn()" (mouseleave)="mouseOut()" (click)="navegar('notificaciones')">
          <ng-icon name="ionNotificationsOutline"></ng-icon>
          <ng-icon name="ionChevronDownOutline"></ng-icon>
          <span class="point" *ngIf="nuevaNotificacion"></span>
          <div [ngClass]="{'mostraNotificaciones': height !== '0px'}" [style.height]="height" (click)="$event.stopPropagation()">
            <h5>Notificaciones</h5>
            <div class="linea"></div>
            <app-notificacion-menu [notificacion]="notificacion" [index]="index" 
              *ngFor="let notificacion of notificaciones; let index = index">
            </app-notificacion-menu>
          </div>
        </div>
      </ul>
    </nav>
  </div>
  <div class="header2-color"></div>

<app-menu-lateral ></app-menu-lateral>