<div class="contenido">
	<button class="back" (click)='atras()'><ng-icon name="heroArrowSmallLeft"></ng-icon></button>
	<form *ngIf="form" [formGroup]='form' (submit)='submit()' id="form_session3" class="paso3" novalidate>

		<h1>Datos principales</h1>
		<p>Ayudanos a identificar tu producto</p>
	
		<div class="inputs">
			<div class="input fabricante" [ngClass]="{'disabled': hechoPorMi}">
				<label for="fabricante" >Artista o fabricante:</label>
				<input formControlName='autoria' type="text" class="field" placeholder="Fabricante" id="fabricante" (input)="validar()"> <br />
			</div>
			<div class="checkbox">
				<input formControlName='hechoPorMi' type="checkbox" id="checkbox" (change)="validar()"> <label for="checkbox">Hecho por mi</label>
			</div>
	
			<div class="input">
				<label for="marca"><b class="option"></b> Marca:</label>
				<input formControlName='marca' type="text" class="field" id="marca"> <br />
			</div>
	
			<div class="input">
				<label for="modelo"><b class="option"></b> Modelo:</label>
				<input formControlName='modelo' type="text" class="field" id="modelo"> <br />
			</div>
		</div>
	
		<div class="center-content">
            <button class="botonInvalid" value="Continuar" name="boton" [disabled]='!submitValue' [ngClass]="{'botonValid': submitValue}">Continuar</button>
        </div>
	
	</form>
	
</div>