.venta{
    position: relative;
    margin-top: 14px;
    width: 100%;
    height: 180px;
    box-shadow: 0 -0.1px 2.6px rgba(0,0,0,0.17), 0 3.1px 2.3px rgba(0,0,0,0.05);
    border-radius: 8px;
    background: white;
    display: flex;

    > img{
        width: 112px;
        height: 112px;
        margin-top: 20px;
        margin-left: 30px;
        border-radius: 8px;
        object-fit: contain;
        border: 1px solid #ddd;
        padding: 2px;
    }

    > div:nth-child(2){
        margin-top: 15px;
        margin-left: 25px;
        height: 3px;
        p:nth-child(1){
            font-size: 18px;
            font-weight: 500;
            color: #555;
            margin: 5px 0 10px 0;
            max-width: 430px;
            word-spacing: 1px;
        }
        p:nth-child(2){
            font-size: 13px;
            font-weight: 420;
            color: #888;
            margin-top: 5px;
            letter-spacing: .5px;
        }
        :nth-child(3){
            font-size: 15px;
            font-weight: 500;
            color: #666;
            position: absolute;
            bottom: 28px;
            letter-spacing: .3px;
        }
    }
    > p:nth-child(3){
        position: absolute;
        margin-bottom: 15px;
        font-size: 13px;
        font-weight: 500;
        color: #46ca70;
        bottom: 0px;
        left: 30px;
        span{
            color: #777;
            font-size: 12px;
        }
    }
    > p:nth-child(4){
        position: absolute;
        margin-bottom: 15px;
        font-size: 12px;
        font-weight: 450;
        color: #999;
        bottom: 0px;
        right: 30px;
        letter-spacing: .3px;
    }
    > div:nth-child(5){
        display: flex;
        position: absolute;
        right: 30px;
        top: 20px;
        p{
            font-size: 13px;
            font-weight: 500;
            color: #666;
            bottom: 0px;
            right: 30px;
            letter-spacing: .3px;
            margin: 0;
            margin-right: 20px;
            padding-top: 5px;
            letter-spacing: .4px;
            word-spacing: 1px;
        }
        button{
            padding: 5px 20px;
            border: none;
            border-radius: 5px;
            color: white;
            background-color: #FF9C59;
            font-weight: 500;
            &:hover{
                cursor: pointer;
                background-color: #4ad175;
            }
        }
    }
}