<div class="body">
    <div *ngIf="sombraBool" class="contenidoFotos">
        <div (click)="sombraBool = false" class="sombra"></div>
        <ng-icon name="heroChevronLeftSolid" (click)="fotoPrev()"></ng-icon>
        <div class="cuadro" (click)="sombraBool = false">
            <img [src]="fotosActuales[indexFoto]">
        </div>
        <ng-icon name="heroChevronRightSolid" (click)="fotoNex()"></ng-icon>
        <div class="cantidadFotos">{{ indexFoto + 1 }}/{{ fotosActuales.length }}</div>
        <div (click)="sombraBool = false" class="x">X</div>
    </div>
    <div *ngIf="sombraOpinion" class="contenidoFotos">
        <div (click)="sombraOpinion = false" class="sombra"></div>
        <div class="cuadro" (click)="sombraOpinion = false">
            <img [src]="'assets/img/opiniones/'+ producto.opiniones[indexOpinion].foto +'.png'">
        </div>
        <div class="cantidadFotos">1/1</div>
        <div (click)="sombraOpinion = false" class="x">X</div>
    </div>
    <div class="productoPropio" *ngIf="productoPropio" [ngClass]="{'productoPropioFixed': productoPropioFixed}"><p>Tu producto</p></div>
    <app-barra-menu></app-barra-menu>
    <ng-container *ngIf="producto">
        <app-tiempo *ngIf="producto.soloPorHoy"></app-tiempo>
        <section class="contenidoTotalProducto-computador" *ngIf="anchoPagina > 1090">
            <div class="encabezado">
                <app-encabezado-navegador *ngIf="producto" [producto]="producto"></app-encabezado-navegador>
            </div>
            <div class="seccioIzquierda">
                <ng-icon class="corazon" name="heroHeart" (click)="editarFavorito()"></ng-icon>
                <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "enFavoritos == true"></ng-icon>
    
                <ng-icon class="carrito" name="matAddShoppingCart" [class.carrito-click-over] = "enCarrito == true" (click)="editarCarrito()" *ngIf="!productoPropio && producto.estado"></ng-icon>
                <ng-icon class="carrito-full" name="matShoppingCart" [class.carrito-click] = "enCarrito == true" *ngIf="!productoPropio && producto.estado"></ng-icon>
    
                <app-fotos-producto *ngIf="producto" [producto]="producto" [fotos]="fotosActuales" [sombraPadre]="sombraBool" [indexPadre]="indexFoto" (sombraHijo)="nuevoDatoHijoSombra($event)" (fotoIndex)="nuevoIndex($event)" ></app-fotos-producto>
                <div class="linea-Menu"></div>
                <h1 class="titulos">Productos similares que te podrían gustar</h1>
                <div class="carrusel">
                    <app-carrusel *ngIf="productos && productos.length !== 0" [carousel]='3' [elements]="productos"></app-carrusel>
                </div>
                <br>
                <div class="linea-Menu"></div>
                <br>
                <app-descripcion [descripcion]="producto.descripcion!"></app-descripcion>
                <br>
                <app-opiniones *ngIf="producto.opiniones" [opiniones]="producto.opiniones" (sombraHijo)="mostrarOpinionFoto($event)"
                ></app-opiniones>
                <br><br>
            </div>

            <div class="seccioDerecha">
                <app-datos-producto [productoCargado]="productoCargado" [producto]="producto" [fotosPrincipales]="fotosActuales" [usuarioVendedorNombre]="usuarioVendedor?.usuario ?? ''" (unidadeS)="unidades = $event" (seleccionarColr)="seleccionarColor($event)" (seleccionarEstl)="seleccionarEstilo($event)"></app-datos-producto>
                <app-datos-producto-dos></app-datos-producto-dos>
                <app-datos-producto-tres [producto]="producto"></app-datos-producto-tres>
            </div>
        </section>
<!-------------------------->
        <section class="contenidoTotalProducto-celular" *ngIf="anchoPagina <= 1090" >
            <div class="encabezado" *ngIf="anchoPagina > 800">
                <app-encabezado-navegador *ngIf="producto" [producto]="producto"></app-encabezado-navegador>
            </div>

            <ng-icon class="corazon" name="heroHeart" (click)="editarFavorito()" *ngIf="anchoPagina > 800"></ng-icon>
            <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "enFavoritos == true" *ngIf="anchoPagina > 800"></ng-icon>
            <ng-icon class="carrito" name="matAddShoppingCart" [class.carrito-click-over] = "enCarrito == true" (click)="editarCarrito()" *ngIf="!productoPropio && producto.estado && anchoPagina > 800" ></ng-icon>
            <ng-icon class="carrito-full" name="matShoppingCart" [class.carrito-click] = "enCarrito == true" *ngIf="!productoPropio && producto.estado && anchoPagina > 800" ></ng-icon>

            <div class="datosPrincipales"  *ngIf="anchoPagina <= 800">
                <p class="ventas"><span>{{ventas}}</span></p>
                <h2 class="tituloProducto">{{ producto.nombre }} <span *ngIf="producto.tamanios">{{producto.tamanios[tamanioSelec[1]].gramos}}</span></h2>
                <p class="masVendido" *ngIf="producto.masVendido">MÁS VENDIDO</p>
            </div>
            <ng-icon class="corazon" name="heroHeart" (click)="editarFavorito()" *ngIf="anchoPagina <= 800"></ng-icon>
            <ng-icon class="corazon-full" name="heroHeartSolid" [class.corazon-click] = "enFavoritos == true" *ngIf="anchoPagina <= 800"></ng-icon>

            <app-fotos-producto *ngIf="producto" [producto]="producto" [fotos]="fotosActuales" [sombraPadre]="sombraBool" [indexPadre]="indexFoto" (sombraHijo)="nuevoDatoHijoSombra($event)" (fotoIndex)="nuevoIndex($event)" ></app-fotos-producto>
            <app-datos-producto [productoCargado]="productoCargado" [producto]="producto" [fotosPrincipales]="fotosActuales" [usuarioVendedorNombre]="usuarioVendedor?.usuario ?? ''" (unidadeS)="unidades = $event" (seleccionarColr)="seleccionarColor($event)" (seleccionarEstl)="seleccionarEstilo($event)" (ventasHechas)="asignarVentas($event)"></app-datos-producto>
            <!-------------------------->
            <app-video [url]="producto.videos[0].url" [titulo]="producto.videos[0].titulo" *ngIf="producto.videos"></app-video>
            <app-datos-producto-dos></app-datos-producto-dos>
            <app-datos-producto-tres [producto]="producto"></app-datos-producto-tres>
            <app-descripcion [descripcion]="producto.descripcion!"></app-descripcion>
            <app-opiniones *ngIf="producto.opiniones" [opiniones]="producto.opiniones" (sombraHijo)="mostrarOpinionFoto($event)"></app-opiniones>
            <app-video [url]="producto.videos[1].url" [titulo]="producto.videos[1].titulo" *ngIf="producto.videos && producto.videos.length == 2"></app-video>
            <br>
            <h1 class="titulos">Productos similares</h1>
            <div class="carrusel">
                <app-carrusel *ngIf="productos && productos.length !== 0" [carousel]='3' [elements]="productos"></app-carrusel>
            </div>
        </section>
        <app-footer></app-footer>
    </ng-container>
</div>

