<div class="content">
    <h2>Cambiar mis datos</h2>
    <section>
        <h3>Gestión de Datos en tu Perfil</h3>
        <p>Una vez que hayas iniciado sesión en nuestra plataforma, puedes acceder y modificar tus datos personales en la sección denominada "Tus Datos" dentro de tu perfil. Esta área te permite revisar y actualizar la información que hemos registrado de ti.</p>

        <h3>Modificación de Datos</h3>
        <p>Tienes la capacidad de modificar ciertos datos, como tu nombre de usuario, número de documento, nombre y apellido, sin requerir proporcionar tu contraseña ni someterte a una validación adicional. Esto te brinda la flexibilidad de mantener tu información actualizada de manera rápida y conveniente.</p>

        <h3>Seguridad de tus Datos</h3>
        <p>En Homix, valoramos la seguridad y la integridad de tus datos personales. Para proporcionarte un nivel adicional de seguridad, requerimos una verificación de correo electrónico, lo que te permitirá acceder a funciones avanzadas en nuestra plataforma. Por otro lado, para cambiar tu dirección de correo electrónico y número de teléfono, implementamos una autenticación adicional para asegurarnos de que tu cuenta esté protegida de cualquier acceso no autorizado. Estas medidas adicionales de seguridad garantizan la integridad de tu información y protegen tu privacidad.</p>
        <p>En resumen, en Homix te ofrecemos la posibilidad de gestionar tus datos de manera efectiva, con la seguridad como una prioridad, y la facilidad de uso en mente. Mantener tu información actualizada es esencial para una experiencia óptima en nuestra plataforma.</p>
    </section>
    <app-encuesta-utilidad [informacion]="'mis-datos/cambiar-datos'"></app-encuesta-utilidad>
</div>