<h1>Detalle de compra</h1>
<div class="contenido" *ngIf="usuarioVendedor">
    <div class="left">
        <div class="encabezado">
            <img src="assets/img/usuarios/user.svg" (click)="navegar([usuarioVendedor.usuario+'/perfil/informacion'], $event)">
            <div>
                <h3>{{usuarioVendedor.nombre}}</h3>
                <p>
                    <span *ngIf="!compra.fechaEnCamino && !compra.entregado">En preparación</span>
                    <span *ngIf="compra.fechaEnCamino && !compra.entregado">En camino</span>
                    <span *ngIf="compra.entregado">Entregado</span>
                </p>
            </div>
            <div>
                <img src="assets/img/logo/iconos/Msg.svg">
                <img (click)="navegar([usuarioVendedor.usuario+'/' + usuario?.usuario +'/' + compra.numVenta +'/enviar-mensaje'], $event)" src="assets/img/logo/iconos/Msg-full.svg">
            </div>
        </div> 
        <app-producto [compra]="compra" [referencia]="referencia" *ngFor="let referencia of compra.referencias; let i = index"></app-producto>
        <div class="envio">
            <h4 *ngIf="!compra.entregado && !compra.enCamino">Entrega: {{entregaAprox}}</h4>
            <h4 *ngIf="!compra.entregado && compra.enCamino">Entrega: Tu producto llegará hoy</h4>
            <h4 *ngIf="compra.entregado">Entregado</h4>
            <div class="info-entrega">
                <ng-icon name="aspectsPlatformDropbox"></ng-icon>
                <ng-icon [ngClass]="{'check': compra.enCamino, 'noCheck': !compra.enCamino}" name="heroTruckSolid"></ng-icon>
                <ng-icon [ngClass]="{'check': compra.entregado, 'noCheck': !compra.entregado}" name="heroCheckCircleSolid"></ng-icon>

                <div class="linea"></div>
                <div class="linea-color" [ngStyle]="{'width': compra.enCamino === true && compra.entregado === false ? '50%' : ( compra.entregado === true ? '100%' : '5%' )}"></div>
                <div class="en-preparacion"></div>
                <div class="en-camino" [ngStyle]="{'border-color': compra.enCamino === true ? '#FF9C59': '#bbb'}"></div>
                <div class="entregado" [ngStyle]="{'border-color': compra.entregado === true ? '#FF9C59': '#bbb'}"></div>
            </div>
            <div class="textos">
                <div>
                    <h5>En preparación</h5>
                    <p>{{fecha | date:'d \' MMMM'}} {{ fecha | date:'HH:mm' }}</p>
                </div>
                <div>
                    <h5 [ngStyle]="{'color': compra.enCamino === true ? '#606060': '#999', 'transform': compra.enCamino === true ? 'translateX(-10px)' : 'translateX(-32px)'}" >En camino</h5>
                    <p *ngIf="compra.enCamino">{{fechaEnCamino | date:'d \' MMMM'}} {{ fechaEnCamino | date:'HH:mm' }}</p>
                </div>
                <div>
                    <h5 [ngStyle]="{'color': compra.entregado === true ? '#606060': '#999'}">Llegó</h5>
                    <p *ngIf="compra.entregado">{{fechaEntregado | date:'d \' MMMM'}} {{ fechaEntregado | date:'HH:mm' }}</p>
                </div>
            </div>
        </div>
        <button (click)="navegar(['ayuda/'], $event)">¿Dudas sobre la compra?</button>
    </div>

    <div class="right">
        <div class="encabezado">
            <p *ngIf="!compra.entregado">Compra: {{fechaCompra}} {{ this.fecha| date:'HH:mm' }}</p>
            <p *ngIf="compra.entregado">Entregado</p>
        </div>
        <h5>Detalles de pago</h5>
        <div class="precios">
            <ng-container *ngIf="cantidadUnidades === 1">
                <div>Producto</div><div>$ {{precio | number: '1.0-0'}}</div>
            </ng-container>
            <ng-container *ngIf="cantidadUnidades !== 1">
                <div>Productos ({{cantidadUnidades}})</div><div>$ {{precio | number: '1.0-0'}}</div>
            </ng-container>
            <div>Envío</div><div>$ {{envio | number: '1.0-0'}}</div>
            <div>Total</div><div>$ {{(envio + precio) | number: '1.0-0'}}</div>
        </div>
    </div>
</div>