h1{
    margin:0;
    margin-top: 30px;
    color: #6c6c6c;
    font-weight:520;
    font-size: 24px;
    letter-spacing: .5x;
    word-spacing: 2px;
}

.contenido{
    margin-top: 15px;
    margin-bottom: 100px;
    display: flex;
    .left{
        position: relative;
        width: 70%;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: white;
        padding-bottom: 100px;
        .encabezado{
            position: relative;
            height: 60px;
            border-bottom: 1px solid #d6d6d6;
            display: flex;
            > img{
                width: 40px;
                height: 40px;
                margin-top: 10px;
                margin-left: 30px;
                cursor: pointer;
            }
            div{
                h3{
                    color: #555;
                    font-weight: 500;
                    margin: 10px 20px 2px 20px;
                    
                }
                p{
                    margin: 3px 0 0 20px;
                    font-size: 13px;
                    font-weight: 480;
                    color: #888;
                    letter-spacing: .8px;
                    word-spacing: 2px;
                }
            }
            div:nth-child(3){
                margin: 12px;
                position: absolute;
                right: 56px;
                img:nth-child(1){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 36px;
                    height: 36px;
                }
                img:nth-child(2){
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 36px;
                    height: 36px;
                    opacity: 0;
                    transition: .2s;
                    cursor: pointer;
                    &:hover{
                        opacity: 1;
                    }
                }
            }
        }
        
        .envio{
            position: relative;
            height: 180px;
            width: calc(100% - 60px);
            margin: 20px 30px;
            h4{
                font-weight: 500;
                color: #777;
                letter-spacing: .5px;
                font-size: 15px;
            }
            span{
                position: absolute;
                right: 0;
                top: 0;
                width: 20px;
                height: 20px;
                background: #ccc;
                border-radius: 50%;
                ng-icon{
                    font-size: 15px;
                    color: white;
                    margin: 2.5px;
                }
            }
            .info-entrega{
                position: relative;
                margin-top: 40px;
                height: 53px;
                /*--- Iconos ---*/  
                ng-icon:nth-child(1){
                    color: #FF9C59;
                    font-size: 22px;
                }
                ng-icon:nth-child(2){
                    font-size: 24px;
                    position: absolute;
                    top: 0;
                    left: calc(50% - 9px);
                }
                ng-icon:nth-child(3){
                    margin: 0;
                    font-size: 24px;
                    position: absolute;
                    top: 0;
                    right: -2px;
                }
                .check{
                    color: #FF9C59;
                }
                .noCheck{
                    color: #a0a0a0;
                }
                /*--- Progreso ---*/
                .linea{
                    position: absolute;
                    height: 5px;
                    width: 100%;
                    background: #bbb;
                    bottom: 8px;
                }
                .linea-color{
                    position: absolute;
                    height: 5px;
                    width: 0%;
                    background: #FF9C59;
                    bottom: 8px;
                }
                .en-preparacion{
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    border: 4px solid #FF9C59;
                    bottom: 0;
                    left: 0;
                    border-radius: 50%;
                    background-color: white;
                }
                .en-camino{
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    border: 4px solid #aaa;
                    bottom: 0;
                    left: calc(50% - 8px);
                    border-radius: 50%;
                    background-color: white;
                }
                .entregado{
                    position: absolute;
                    width: 13px;
                    height: 13px;
                    border: 4px solid #aaa;
                    bottom: 0;
                    right: 0;
                    border-radius: 50%;
                    background-color: white;
                }

            }
        }
        .textos{
            height: 60px;
            margin-top: 10px;
            display: grid;
            grid-template-columns: repeat(3,auto);
            column-gap: 10px;
            div{
                h5{
                    width: 100%;
                    margin: 0;
                    font-size: 14px;
                    font-weight: 600;
                    color: #606060;
                }
                p{
                    width: 100%;
                    font-weight: 450;
                    font-size: 12px;
                    color: #888;
                    margin-top: 5px;
                }
            }
            div:nth-child(2){
                h5, p{
                    text-align: center;
                    transform: translateX(-10px);
                }
            }
            div:nth-child(3){
                h5, p{
                    text-align: right;
                }
            }
        }
        > button{
            padding: 8px 20px;
            background-color: #eee;
            color: #666;
            font-weight: 450;
            border-radius: 8px;
            border: none;
            position: absolute;
            bottom: 30px;
            left: 30px;
            cursor: pointer;
            &:hover{
                background: #eaeaea;
            }
        }
    }
    .right{
        margin-left: 3%;
        width: 32%;
        height:300px;
        border: 1px solid #ddd;
        border-radius: 8px;
        background: white;
        .encabezado{
            height: 60px;
            background-color: #ebebeb;
            border-bottom: 1px solid #ddd;
            p{  
                margin: 0;
                padding-left: 30px;
                height: 100%;
                display: flex;
                align-items: center;
                font-weight: 500;
                font-size: 14px;
                color: #666;
                letter-spacing: .8px;
            }
        }
        h5{
            font-size: 16px;
            color: #555;
            font-weight: 500;
            margin-left: 30px;
            margin-bottom: 20px;
        }
        .precios{
            width: calc(100% - 60px);
            margin-left: 30px;
            display: grid;
            grid-template-columns: repeat(2, auto);
            div{
                border-bottom: 1px solid #ddd;
                padding: 16px 0;
                color: #666;
                letter-spacing: .4px;
                font-size: 14px;
                font-weight: 420;
            }
            div:nth-child(2n+2){
                text-align: right;
            }
            div:nth-last-child(-n+2){
                border-bottom: none;
                color: #444;
                font-weight: 500;
                font-size: 15px;
            }
        }
    }
}