<div class="body">
    <app-barra-menu></app-barra-menu>
    <div class="contenido">
        <h1>Política de privacidad</h1>
        <div>
            <h4>Versión vigente: 25 octubre, 2023</h4>
            <h2>Declaración de Privacidad y Confidencialidad de la Información de Homix</h2>
            <p>En Homix, entendemos que la protección de los datos personales es fundamental para brindar un entorno de confianza a nuestros usuarios. Al manejar la información personal de manera responsable, no solo respetamos la privacidad de quienes comparten sus datos con nosotros, sino que también les permitimos realizar transacciones con seguridad y tranquilidad en nuestra plataforma.</p>
            <p>Por lo tanto, la privacidad de nuestros usuarios es de suma importancia y nos esforzamos por garantizar su protección.</p>
            <p>Homix, con el propósito de brindar sus servicios, recopila, procesa y, en ciertos casos, comparte información sobre las personas que, como tú, son usuarios y visitantes de nuestros sitios web y/o aplicaciones móviles, según se detalla en este documento (las "Plataformas" y los "Servicios", respectivamente). Esta Declaración de Privacidad y Confidencialidad de la Información de Homix (la "Declaración de Privacidad") describe la información que Homix recopila y cómo la gestiona.</p>
            <p>Esta Declaración de Privacidad forma parte de los Términos y Condiciones Generales de Homix. Tu consentimiento voluntario, explícito e informado a esta Declaración de Privacidad es un requisito fundamental para poder utilizar nuestros servicios y establecer cualquier tipo de relación con Homix, de acuerdo con la legislación aplicable en tu país.</p>
        
            <h2>1. ¿Quién es el responsable del tratamiento de la información personal?</h2>
            <p>En Homix, la responsabilidad del tratamiento de los datos de los usuarios y visitantes de nuestras Plataformas en Colombia recae en nuestra empresa Homix.</p>
            <p>El responsable del tratamiento es quien toma decisiones sobre cómo se manejará la información personal. Esto incluye la definición de los propósitos o usos para los que se utilizarán los datos personales y los métodos que se emplearán en dicho tratamiento (consulta la Sección 3, "¿Para qué se utilizará la información personal?").</p>
<!---->
            <h2>2. ¿Qué información recolectamos y tratamos?</h2>
            <p>En Homix, recolectamos tu información personal para brindarte nuestros servicios y mejorarlos continuamente. En algunos casos, proporcionas esta información al registrarte o al utilizar nuestros servicios. En otros casos, la recopilamos automáticamente mientras navegas por nuestro sitio web o utilizas nuestros servicios. También podemos obtener información sobre ti de fuentes confiables.</p>
            <p>La provisión de la información personal detallada a continuación es esencial para utilizar nuestros servicios y establecer cualquier relación con Homix. Si no proporcionas esta información, no podremos brindarte nuestros servicios, o la capacidad de hacerlo se verá significativamente obstaculizada. La inexactitud o falsedad de los datos personales podría dar lugar a la suspensión de los servicios. Homix también se reserva el derecho de suspender o inhabilitar a usuarios que infrinjan esta Declaración de Privacidad.</p>
            <p></p>
            <p>En Homix, recopilamos los siguientes datos personales esenciales:</p>
            <ul>
                <li>Apodo o seudónimo para operar.</li>
                <li>Nombre completo.</li>
                <li>Número de documento o identificación válida.</li>
                <li>Información de contacto, como número de teléfono.</li>
                <li>Domicilio y dirección de correo electrónico.</li>
            </ul>
            
            <h2>3. ¿Qué hacemos con la información personal?</h2>
            <p>En Homix, el proceso de recolección y tratamiento de tu información personal nos permite brindarte un excelente servicio, garantizando operaciones rápidas y seguras. A continuación, enumeramos las finalidades para las cuales Homix podría utilizar tu información personal en Colombia:</p>
            <ol>
                <li>Brindar productos, servicios y beneficios disponibles en las plataformas de Homix.</li>
                <li>Identificarte y contactarte.</li>
                <li>Registrarte en nuestros sistemas.</li>
                <li>Verificar tu identidad según requerimientos legales.</li>
                <li>Validar, actualizar y corregir tu información.</li>
                <li>Facilitar la comunicación entre compradores y vendedores.</li>
                <li>Mantener registros de tus operaciones y proporcionarte información relevante.</li>
                <li>Ofrecer una plataforma de comercio electrónico segura.</li>
                <li>Gestionar los servicios y productos de Homix.</li>
            </ol>
            <p>El listado refleja las diversas finalidades para las cuales tu información personal puede ser utilizada en Homix en Colombia. La utilización de tus datos para fines incompatibles será comunicada previamente antes de su tratamiento. Homix retendrá tu información personal durante el tiempo necesario para cumplir con los fines para los cuales fueron recolectados.</p>
            
            <h2>4. ¿Cómo compartimos la información personal?</h2>
            <p>En Homix, valoramos la privacidad y la seguridad de tus datos personales. No vendemos ni comercializamos tu información. Sin embargo, para mejorar nuestros servicios y facilitar operaciones, Homix podría compartir tu información con los siguientes destinatarios en Colombia:</p>
            <ol>
                <li><span>Proveedores de Servicios:</span> Empresas que colaboran con Homix para brindarte servicios, como transporte, medios de pago y soporte al cliente.</li>
                <li><span>Contrapartes en Transacciones:</span> Otros usuarios de Homix para facilitar la comunicación entre compradores y vendedores.</li>
                <li><span>Autoridades Públicas:</span> Cuando requerido por la ley o para colaborar en investigaciones y proteger a nuestros usuarios.</li>
                <li><span>Desarrolladores:</span> En el marco del Programa de Desarrolladores de Homix.</li>
            </ol>
            <p>Asimismo, Homix podrá divulgar tu información personal de manera discrecional si existen motivos razonables para sospechar que estás involucrado en actividades delictivas. En caso de que Homix decida compartir tu información con terceros no mencionados anteriormente, se solicitará tu consentimiento previo y explícito, a menos que exista una autorización u obligación legal que lo permita sin requerir dicho consentimiento.</p>
            <p>Finalmente, Homix no asumirá responsabilidad por el uso indebido de tu información personal por parte de terceros involucrados en la recopilación y el tratamiento directo de tus datos.</p>
            
            <h2>5. ¿Por cuánto tiempo almacenaremos tu información personal?</h2>
            <p>En Homix, solo conservaremos tu información personal durante el tiempo necesario para cumplir con los fines para los que se ha recopilado, para cumplir con requisitos reglamentarios o legales, o durante el periodo de prescripción legal de posibles responsabilidades legales o contractuales.</p>
            <p>Una vez concluido el lapso mencionado, procederemos a eliminar o anonimizar tus datos de manera que no sea posible identificar a ninguna persona, de acuerdo con la normativa vigente en Colombia.</p>

            <h2>6. Confidencialidad de la información personal y Responsabilidad de los Usuarios</h2>
            <p>En Homix, nos comprometemos a tomar todas las medidas necesarias para salvaguardar la privacidad de tu información personal. Sin embargo, es importante que tengas en cuenta que como usuario, eres el responsable de todas las acciones realizadas mediante el uso de tu nombre de usuario y contraseña. En caso de sospechar que alguien más pueda conocer tu contraseña, te recomendamos cambiarla a través de la sección de seguridad en tu perfil, accesible desde el menú de navegación. Tu participación activa en la protección de tu cuenta contribuirá a mantener la confidencialidad de tu información personal.</p>

            <h2>7. Acceso para Menores de Edad</h2>
            <p>En Homix, brindamos acceso a nuestros servicios a menores de edad con el previo consentimiento de su representante legal. Si eres menor de edad y no cuentas con el consentimiento de tu representante legal, te instamos a no proporcionar información personal. Si necesitas ejercer tus derechos, como se describe en la cláusula 10 de esta Declaración, te recomendamos hacerlo a través de tu representante legal. La seguridad y protección de los menores son de suma importancia para nosotros.</p>

            <h2>8. Uso de la información personal por otros Usuarios</h2>
            <p>Homix permite a los usuarios acceder de forma limitada a ciertos datos (como nombre, alias, correo electrónico, otros datos de contacto e información para facturación y envío) de otros usuarios para facilitar la interacción entre ellos. En ningún caso, los usuarios podrán compartir tu Información Personal con terceros sin tu consentimiento y/o el consentimiento de Homix, según corresponda.</p>
            <p>Cuando un usuario vendedor recibe información personal de sus compradores, asume la responsabilidad por el tratamiento de esos datos y cumple con las obligaciones que esto implica. Por lo tanto, no puede utilizar los datos con fines distintos o incompatibles con la transacción que generó la recolección. Solo podrá emplear la información personal de otros usuarios obtenida en la plataforma de Homix para: (a) fines relacionados con las transacciones en Homix, (b) utilizar servicios ofrecidos en Homix (como depósito, seguros, envío o transporte, y reclamaciones por fraude), y (c) cualquier otro propósito para el cual el usuario correspondiente haya otorgado su consentimiento expreso una vez que se le haya informado previamente de la información requerida legalmente o según lo permita la normativa local.</p>
            <p>Homix no tolera prácticas consideradas como "spam". El envío masivo de mensajes de cualquier tipo entre los usuarios de Homix está estrictamente prohibido.</p>
            <p>Homix no asume responsabilidad por el uso que cualquier usuario u otra persona pueda hacer de la información publicada en las Plataformas. Los usuarios aceptan que Homix no será responsable de las pérdidas ni daños que puedan surgir como resultado de las negociaciones entre usuarios. En consecuencia, eximes a Homix de toda responsabilidad en caso de que surja un conflicto con uno o más usuarios.</p>

            <h2>9. Enlaces a otros sitios web</h2>
            <p>A través de las Plataformas, Homix podría incluir enlaces a sitios web de terceros, lo cual no implica que sean propiedad de, o estén operados por Homix. Es importante destacar que el procesamiento de Información Personal realizado por terceros responsables de los sitios web mencionados anteriormente no está cubierto por esta Declaración de Privacidad.</p>
            <p>Además, reconoces y aceptas que Homix no ejerce control sobre estos sitios web y no asume ni asumirá responsabilidad alguna por el contenido ni por los servicios proporcionados por tales sitios, ni por la forma en que gestionan tu Información Personal. En consecuencia, accedes a estos sitios web bajo tu propia responsabilidad.</p>

            <h2>10. ¿Cómo puedes ejercer tus derechos para controlar tu información personal en Colombia?</h2>
            <p>La normativa aplicable en Colombia te otorga ciertos derechos sobre tu información personal, los cuales podrás consultar según se especifica en el anexo de este país. Algunos de estos derechos incluyen:</p>
            <ul>
                <li>Acceso a tus datos.</li>
                <li>Actualización de tu información.</li>
                <li>Rectificación de datos inexactos.</li>
                <li>La posibilidad de dejar de recibir publicidad, ofertas y promociones.</li>
                <li>Supresión de tu información.</li>
                <li>Revocación del consentimiento otorgado.</li>
                <li>Confidencialidad de tus datos personales.</li>
                <li>Revisión de decisiones automatizadas.</li>
            </ul>
            <p>Puedes ejercer cualquiera de estos derechos y realizar consultas relacionadas con tu información personal desde la página de ayuda "Mis derechos de Privacidad" o utilizando los datos de contacto proporcionados en el anexo específico para Colombia.</p>
            <p>En ciertos casos, conservaremos tu información personal en nuestros registros, incluso si has solicitado su supresión, para cumplir con los propósitos descritos en esta Declaración de Privacidad o cuando exista un deber contractual o legal de retener tus datos personales. Una vez que se cumpla ese propósito o se elimine la obligación contractual o legal, procederemos a la supresión de tu información personal.</p>

            <h2>11. Seguridad y Almacenamiento de la Información Personal.</h2>
            <p>Homix cumple con todas las normativas y estándares de seguridad de la industria aplicables a tu Información Personal en Colombia, asegurando así la protección de tus datos.</p>
            <p>Es importante destacar que Homix no asume responsabilidad por posibles interceptaciones ilegales, violaciones de sus sistemas o bases de datos, ni por el uso no autorizado de tu información. Tampoco será responsable por el uso indebido de la información obtenida a través de estos medios.</p>

            <h2>12. Cambios en la Declaración de Privacidad</h2>
            <p>En Homix, realizamos actualizaciones periódicas de nuestra Declaración de Privacidad para reflejar los cambios en nuestros servicios. Estas actualizaciones se llevan a cabo de manera transparente, y te informaremos de ellas a través de nuestros canales habituales, como correos electrónicos o mensajes en nuestras aplicaciones. Cuando sea necesario, solicitaremos tu consentimiento.</p>

            <h2>13. Ley Aplicable y Jurisdicción</h2>
            <p>En Homix, la Declaración de Privacidad se rige por las leyes aplicables de Colombia, como se detalla en los anexos específicos. En caso de cualquier disputa relacionada con la interpretación, validez, celebración o cumplimiento de esta Declaración de Privacidad, las controversias se resolverán ante los tribunales competentes señalados en los anexos correspondientes a Colombia.</p>

            <h2>ANEXO</h2>
            <p>Este anexo se aplica exclusivamente a los usuarios y visitantes de Homix en Colombia. En caso de contradicción con la Declaración de Privacidad principal, este anexo prevalece para los usuarios en Colombia</p>

            <h2>Responsable del Tratamiento de la Información Personal</h2>
            <p>En la República de Colombia, los servicios de Homix Colombia son presentados por Homix, con NIT 1000320938-7 y domicilio en calle 127 #87a - 24, Bogotá D.C., República de Colombia, y es el responsable del tratamiento de los datos personales que recabemos de ti. Homix se ofrece a través de www.homix.com.co.</p>

            <h2>Derechos de Acceso, Rectificación y Supresión de la Información Personal</h2>
            <p>De acuerdo con la ley de protección de datos de la República de Colombia, tienes los siguientes derechos: (i) solicitar prueba de la autorización otorgada al responsable del tratamiento salvo cuando expresamente se exceptúe como requisito para el tratamiento; (ii) ser informado por el responsable del tratamiento, previa solicitud, respecto del uso que le ha dado a tus datos personales; y (iii) presentar quejas ante la Superintendencia de Industria y Comercio por incumplimiento de la normativa colombiana de protección de datos.</p>
            <p>Además de lo establecido en las Políticas de Privacidad, puedes realizar consultas y ejercer los derechos de acceso, rectificación y supresión de tu Información Personal por correo postal a Calle 127 #87a - 24, Bogotá  D.C, República de Colombia, Atte.: Homix. Homix procesará cualquier consulta o reclamo en relación con la Información Personal recopilada y procesada a través de los medios habilitados para dichos fines, conforme al procedimiento dispuesto en la legislación aplicable.</p>

            <h2>Ley Aplicable y Jurisdicción</h2>
            <p>Las Políticas de Privacidad de Homix se rigen por las leyes de la República de Colombia. En caso de controversia, tú y Homix se someten a la jurisdicción exclusiva de los Tribunales competentes de la Ciudad de Bogotá, renunciando expresamente a cualquier otro fuero y/o jurisdicción. Los procedimientos se llevarán a cabo en idioma castellano.</p>
            <p>La autoridad de aplicación en la República de Colombia en materia de protección de datos personales es la Delegatura para la Protección de Datos Personales de la Superintendencia de Industria y Comercio, y las normas en materia de protección de datos son la Ley 1581 de 2012, el Decreto 1377 de 2013 y demás normas concordantes.</p>
        </div>
    </div>
    <app-footer></app-footer>
</div>