<div class="categorias">
    <section>
        <h2>Pasión</h2>
        <p>En Homix, trabajamos con pasión por el arte y la decoración, y respaldamos a los creadores que hacen de sus pasiones su forma de vida. Queremos ofrecer a nuestros usuarios una plataforma que les motive y les entusiasme.</p>
    </section>
    <section>
        <h2>Confianza</h2>
         <p>En Homix, brindamos un servicio seguro, rápido y de calidad, asegurando la protección de los datos, el respeto de las normas, el control de los pedidos y la asistencia al cliente.</p>
    </section>
    <section>
        <h2>Creatividad</h2>
        <p>En Homix, fomentamos la creatividad de nuestros vendedores y compradores, ofreciendo una plataforma donde puedan crear y descubrir arte y decoración únicos y originales.</p>
    </section>
</div>