<footer #footer>
    <div class="contenido-footer">
        <section class="nosotros">
            <h2>Homix</h2>
            <p>Con Homix, tu hogar puede ser todo lo que siempre has soñado. Ofrecemos una variedad de productos que te ayudarán a crear un hogar que amarás. ¡Descubre Homix y comienza tu viaje hacia el hogar de tus sueños hoy mismo!</p>
        </section>
        <section class="links">
            <h2>Ayuda / Acerca de Homix</h2>
            <ul>
                <li><a (click)="navegar(['vender'],$event)">vender</a></li>
                <li><a (click)="navegar(['terminos-condiciones'],$event)">Terminos y condiciones</a></li>
                <li><a (click)="navegar(['privacidad'],$event)">Privacidad</a></li>
                <li><a (click)="navegar(['quienes-somos'],$event)">¿Quienes Somos?</a></li>
                <li><a (click)="navegar(['ayuda'],$event)">Ayuda</a></li>
                <li><a (click)="navegar(['atencion-cliente'],$event)">Atención al cliente</a></li>
            </ul>
        </section>
        <section class="contactos">
            <h2>Contactanos</h2>
            <ul class="info">
                <li><a (click)="navegar(['ayuda'],$event)">+57 302 545 9435</a></li>
                <li><a (click)="navegar(['atencion-cliente'],$event)">andresyesid0523@gmail.com</a></li>
            </ul>
        </section>
    </div>
</footer>
<div class="copyrightText">
    <p>© 2024 Homix. Todos los derechos reservados.</p>
</div>