footer{
	position: relative;
	width: 88%;
	height: 430px;
	padding: 0 6%;
	background: #383736;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	z-index: 100;
	position: absolute;
	bottom: 0;
	.contenido-footer{
		display: grid;
		grid-template-columns: 1fr 180px 250px;
		column-gap: 65px;
		padding-top: 50px;
		section{ //general
			max-width: 590px;
			width: 100%;
			h2{
				position: relative;
				color: #fff;
				font-weight: 500;
				margin-bottom: 14px; 
				font-size: 18px !important;
				&::before{
					content: '';
					position: absolute;
					bottom: -5px;
					left: 0;
					width: 50px;
					height: 2px;
					background: #FF9C59;
				}
			}
			ul{
				padding: 0;
			}
		}
		.nosotros{
			p{
				color: #ccc;
				font-size: 14.5px;
				line-height: 20px;
			}
			.redes{
				margin-top: 20px;
				display: flex;
				li{
					list-style: none;
					a{
						display: inline-block;
						width: 50px;
						height: 50px;
						background: #444;
						display: flex;
						justify-content: center;
						align-items: center;
						margin-right: 10px;
						text-decoration: none;
						border-radius: 4px;
						font-size: 15px;
						&:hover{
							background: #4fd579f8;
						}
						ng-icon{
							color: white;
							font-size: 20px;
						}
					}
				}
			}
		}

		.links{
			position: relative;
			ul li{
				list-style: none;
				a{
					color: #ccc;
					text-decoration: none;
					margin-bottom: 10px;
					display: inline-block;
					font-size: 14px;
					&.hover{
						color: #fff
					}
				}
			}
		}

		.contactos{
			margin-left: 0 !important;
			font-size: 15px;
			.info{
				position: relative;
				li{
					display: flex;
					margin-bottom: 16px;
					span{
						color: #ccc;
					}
					a{
						color: #ccc;
						text-decoration: none;
						font-size: 14.5px;
						&:hover{
							color: #fff;
						}
					}
				}
			}
			
		}
	}
	@media (max-width: 900px) {
		height: 550px;
		.contenido-footer{
			grid-template-columns: 1fr 170px;
			grid-template-rows: 1fr 1fr;
		}
	}
	@media (max-width: 560px) {
		height: 850px;
		.contenido-footer{
			grid-template-columns: 1fr;
			grid-template-rows: 200px 270px 200px;
		}
	}
}


.copyrightText{
	position: relative;
	z-index: 100;
	width: 100%;
	background: #41403f;
	text-align: center;
	color: #ccc;
	padding: 1px 0px;
	position: absolute;
	bottom: 0;
}
