<div class="content">
    <div class="contenedor" [ngClass]="{'masUnidades': unidades, 'pausada': !estado, 'masUnidadesDosFilas': unidadesMasEstilos}">
        <img [src]="fotoUrl" 
             [alt]="imagenCargada ? publicacion.nombre : ''"
             (load)="onImageLoad()"
             [class.loaded]="imagenCargada"
             *ngIf="fotoUrl">
        <div>
            <p>{{publicacion.nombre}}</p>
            <p>#{{publicacion.id}}</p>
            <p (click)="desplegarUnidades()">{{totalUnidades}} unidad<span *ngIf="totalUnidades !== 1">es</span><ng-icon name="heroChevronDownMini"></ng-icon></p>
        </div>
        <div>
            <p>Publicación</p>
            <p>Gratuita</p>
            <p>Precio</p>
            <p>$ {{publicacion.precio | number:'1.0-0'}} <span>COP</span></p>
        </div>
        <div>
            <p>Envío</p>
            <p *ngIf="publicacion.envioGratis">Gratuita</p>
            <p *ngIf="!publicacion.envioGratis">Pago</p>
        </div>
    
        <p class="vistas">{{vistas}} vistas | {{publicacion.ventas}} ventas</p>
        <p class="fecha">{{fecha | date:'d \'de\' MMMM \'.\' y'}}</p>
    
        <!------- SUB MENU UNIDADES------>
        <div class="linea"></div>
        
    </div>
    <div class="iconos">
        <img src="assets/img/logo/iconos/ver-mas.svg">
        <img (click)="desplegarSubMenu($event)"  src="assets/img/logo/iconos/ver-mas-full.svg">
    </div>
    <div *ngIf="subMenu" class="submenu">
        <p (click)="editarProducto()">Editar</p>
        <p (click)="navegar(['prod/'+ publicacion.id],$event)">Ver publicación</p>
        <p (click)="abrirModalEliminar($event)">Eliminar</p>
    </div>  
</div>

<!-- Modal de confirmación -->
<app-modal-confirmacion
  [mostrar]="mostrarModalEliminar"
  titulo="¿Eliminar producto?"
  [mensaje]="'¿Estás seguro de que deseas eliminar ' + publicacion.nombre + '? Esta acción no se puede deshacer.'"
  textoConfirmar="Eliminar"
  textoCancelar="Cancelar"
  tipoAlerta="danger"
  (confirmar)="confirmarEliminar()"
  (cancelar)="cancelarEliminar()"
  (cerrar)="cerrarModal()">
</app-modal-confirmacion>