<div class="content">
    <h1>Publicaciones</h1>
    <section *ngIf="!datosCargados" class="cargando"><app-cargando></app-cargando></section>
    <ng-container *ngIf="datosCargados">
        <div class="encabezado">
            <p *ngIf="publicaciones">{{publicaciones.length}}<span *ngIf="publicaciones.length !== 1"> publicaciones</span> <span *ngIf="publicaciones.length == 1"> publicación</span></p>
            <p *ngIf="!publicaciones">0 publicaciones</p>
            <div>
                <div>
                    <input type="text" placeholder="Buscar ">
                    <ng-icon name="heroMagnifyingGlassMini"></ng-icon>
                </div>
                <div>
                    <ng-icon name="heroAdjustmentsHorizontal"></ng-icon>
                    <select id="">
                        <option value="">Todas</option>
                        <option value="">compra tipo1</option>
                    </select>
                </div>
            </div>
        </div>
        <app-publicacion [publicacion]="publicacion" (eliminarProducto)="eliminarProducto($event)" *ngFor="let publicacion of publicaciones; let index = index"></app-publicacion>
        <div class="sinPublicaciones" *ngIf="!publicaciones">
            <img src="assets/img/logo/iconos/publications-empty.svg">
            <p>No tienes publicaciones realizadas</p>
            <a>Publicar un producto</a>
        </div>
    </ng-container>
</div>