.header3 {
	width: 100%;
	height: 52.5px;
	z-index: 20;
	background-color: #F8F8F8;
}
.header3.eliminar{
	height: 17px;
}

.menu3 {
	ul {
		margin: 0;
		list-style: none;
		padding-left: 2px;
		.ContenidoMenu3 {
			display: flex;
			max-width: 1400px;
			margin: auto;
			height: 52px;
			li {
				position: relative;
				display: flex;
				align-items: center;
				position: relative;
				padding-right: 38px;
				padding-left: 26px;
				>p{
					color: #5a5a5a;
					font-size: 14.5px;
					font-weight: 500;
					letter-spacing: .3px;
				}
				img{
					position: absolute;
					left: 0;
					top: 50%;
					height: 20.2px;
					transform: translateY(-47%);
				}
				ng-icon {
					color: #555;
					font-size: 20.6px;
					position: absolute;
					left: 0;
				}
				&:hover {
					cursor: pointer;
					>p{
						transition: 0.2s;
						color: #f89148;
					}
				}
			}
			li:nth-child(2){
				padding-left: 28px;
				img{
					height: 20.5px !important;
					left: -3px !important;
				}
			}
			.sign{
				display: none;
				opacity: 0;
				position: absolute;
				left: -5px;
				top: 48px;
				z-index: 2;
				section{
					padding: 11px 18px 15px 18px;
					background-color: #fff;
					border-radius: 10px;
					box-shadow: 0 .3px 2.1px rgba(0,0,0,0.20), 0 3.1px 2.1px rgba(0,0,0,0.035);
					ng-icon{
						color: #666;
						font-size: 21.5px;
						text-align: center;
						width: 100%;
					}
					p{
						color: #606060;
						margin: 0;
						margin-top: 5px;
						font-size: 14px;
						font-weight: 440;
						letter-spacing: .3px;
					}
					button{
						margin-top: 13px;
						padding: 8px;
						width: 100%;
						border: none;
						border-radius: 4px;
						background: #ecf9f2;
						color: #2cc75d;
						font-weight: 480;
						letter-spacing: .4px;
						word-spacing: 1px;
						cursor: pointer;
						&:hover{
							background: #52d77c;
							color: #fff;
						}
					}
				}
				span{
					position: absolute;
					width: 15px;
					height: 15px;
					top: -7.5px;
					left: calc(50% - 7.5px);
					z-index: -1;
					transform: rotate(45deg);
				}
				.sombra{
					box-shadow: .3px 0 2.3px rgba(0,0,0,0.15);
				}
				.triangulo{
					background-color: white;
					z-index: 2;
				}
				&:hover{
					cursor: default;
					~ p{
						color: #666;
					}
				}
			}
			.visible{
				display: block;
				opacity: 1;
				animation: visible .3s;
			}
		}
		
	}

	@media screen and (max-width: 1450px) {
		li a {
			margin-top: 0;
			padding-left: 21px;
		}
	}
}

@keyframes visible{
	0%{
		display: block;
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}