<app-menu-simple></app-menu-simple>
<div class="body" *ngIf="usuarioCliente">
    <h1>Detalle de venta <span>#{{venta.numVenta}}</span></h1>
    <div class="contenido">

        <div class="left">
            <div class="encabezado">
                <img src="assets/img/usuarios/user.svg" (click)="navegar([usuarioCliente.usuario+'/perfil/informacion'], $event)">
                <div>
                    <h3>{{usuarioCliente.nombre}}</h3>
                    <p>{{usuarioCliente.tipoDocumento}} {{usuarioCliente.documento}}</p>
                </div>
                <div>
                    <img src="assets/img/logo/iconos/Msg.svg">
                    <img (click)="navegar([usuario?.usuario+'/' + usuarioCliente.usuario +'/' + venta.numVenta +'/enviar-mensaje'], $event)" src="assets/img/logo/iconos/Msg-full.svg">
                </div>
            </div> 
            <app-producto-venta [venta]="venta" [referencia]="referencia"  *ngFor="let referencia of venta.referencias; let i = index"></app-producto-venta>
            <div class="envio">
                <h4 *ngIf="!venta.entregado && !venta.enCamino">Entrega: {{entregaAprox}}</h4>
                <h4 *ngIf="!venta.entregado && venta.enCamino">Entrega: El producto llegará hoy</h4>
                <h4 *ngIf="venta.entregado">Entregado</h4>
                <div class="info-entrega">
                    <ng-icon name="aspectsPlatformDropbox"></ng-icon>
                    <ng-icon [ngClass]="{'check': venta.enCamino, 'noCheck': !venta.enCamino}" name="heroTruckSolid"></ng-icon>
                    <ng-icon [ngClass]="{'check': venta.entregado, 'noCheck': !venta.entregado}" name="heroCheckCircleSolid"></ng-icon>
    
                    <div class="linea"></div>
                    <div class="linea-color" [ngStyle]="{'width': venta.enCamino === true && venta.entregado === false ? '50%' : ( venta.entregado === true ? '100%' : '5%' )}"></div>
                    <div class="en-preparacion"></div>
                    <div class="en-camino" [ngStyle]="{'border-color': venta.enCamino === true ? '#FF9C59': '#bbb'}"></div>
                    <div class="entregado" [ngStyle]="{'border-color': venta.entregado === true ? '#FF9C59': '#bbb'}"></div>
                </div>
                <div class="textos">
                    <div>
                        <h5>En preparación</h5>
                        <p>{{fecha | date:'d \' MMMM'}} {{ fecha | date:'HH:mm' }}</p>
                    </div>
                    <div>
                        <h5 [ngStyle]="{'color': venta.enCamino === true ? '#606060': '#999', 'transform': venta.enCamino === true ? 'translateX(-10px)' : 'translateX(-32px)'}" >En camino</h5>
                        <p *ngIf="venta.enCamino">{{fechaEnCamino | date:'d \' MMMM'}} {{ fechaEnCamino | date:'HH:mm' }}</p>
                    </div>
                    <div>
                        <h5 [ngStyle]="{'color': venta.entregado === true ? '#606060': '#999'}">Llegó</h5>
                        <p *ngIf="venta.entregado">{{fechaEntrega | date:'d \' MMMM'}} {{ fechaEntrega | date:'HH:mm' }}</p>
                    </div>
                </div>
            </div>
            <div class="datos-envio">
                <p>Datos de envío</p>
                <p>{{direccionString}}</p>
                <p>{{direccion.barrio}}<span *ngIf="direccion.indicaciones !== ''">, {{direccion.indicaciones}}</span> {{usuarioCliente.telefono}}</p>
            </div>
        </div>

        <div class="right">
            <div class="encabezado">
                <p *ngIf="!venta.entregado">Compra: {{fechaCompra}} {{ this.fecha| date:'HH:mm' }}</p>
                <p *ngIf="venta.entregado">Entregado</p>
            </div>
            <h5>Detalles de pago</h5>
            <div class="precios">
                <ng-container *ngIf="cantidadUnidades === 1">
                    <div>Producto</div><div>$ {{precio | number: '1.0-0'}}</div>
                </ng-container> 
                <ng-container *ngIf="cantidadUnidades !== 1">
                    <div>Productos ({{cantidadUnidades}})</div><div>$ {{precio | number: '1.0-0'}}</div>
                </ng-container>
                <div>Valor productos</div><div>0</div>
                <div>Envío</div><div>+ $ {{envio}}</div>
                <div>Total</div><div>$ {{precio + envio | number: '1.0-0'}}</div>
            </div>
            <div class="botones">
                <button (click)="botonEnCamino()" [ngClass]="{'completado': venta.enCamino}"><ng-icon name="heroTruckSolid"></ng-icon> En camino</button>
                <button (click)="botonEntregado()" [ngClass]="{'completado': venta.entregado}"><ng-icon name="heroCheckCircleSolid"></ng-icon> Entregado</button>
            </div>
        </div>
    </div>
</div>