<div class="contenido">
    <button class="back" (click)='atras()'><ng-icon name="heroArrowSmallLeft"></ng-icon></button>
    <form class="paso2" novalidate (ngSubmit)="submit()">

        <h1>Envio</h1>
        <p *ngIf="precioMenor">Ofrecerás envíos a cargo del comprador únicamente, ya que el costo de envío excede el valor de tu producto.</p>

        <div class="inputs" *ngIf="!precioMenor">
            <input id="checkUno" type="checkbox" (click)="check('gratis')" [ngClass]="{'checkedBox': envioGratis}">
            <label for="checkUno">Ofrecer envio gratis</label>
            <p>Pagaras por el envio entre 10.000 y 20.000</p>
        </div>
        <div class="inputs" *ngIf="!precioMenor">
            <input id="checkDos" type="checkbox" (click)="check('')" [ngClass]="{'checkedBox': sinEnvioGratis}">
            <label for="checkDos">No ofrecer envío gratis</label>
            <p>Tus clientes pagarán por el envío</p>
        </div>

        <div class="center-content">
            <button type="submit" class="botonInvalid" value="Continuar" name="boton" [disabled]='!submitValue' [ngClass]="{'botonValid': submitValue}">Continuar</button>
        </div>
    </form>
</div>