.contenido{
	position: relative;
	margin: 70px auto;
	width: 550px;
	background-color: white;
	box-shadow: 0 2px 8px -1px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	padding-bottom: 90px;
	button.back{
		width: 34px;
		height: 34px;
		background-color: #e9e9e9;
		border-radius: 50%;
		border: none;
		position: absolute;
		left: 20px;
		top: 25px;
		cursor: pointer;
		transition: .2s;
		ng-icon{
			color: #666;
			font-size: 21px;
			padding: 3px 1px;
		}
		&:hover{
			background-color: #ffad72;
			ng-icon{
				color: white;
			}
		}
	}
}
form.paso2 {
	width: 100%;
	padding-top: 20px;
	h1 {
		color: #666;
		font-size: 31px;
		letter-spacing: 0.7px;
		word-spacing: 1.2px;
		font-weight: 550;
		text-align: center;
		margin-bottom: 20px;
	}

	p {
		width: 87%;
		color: #777;
		word-spacing: 1px;
		font-weight: 450;
		letter-spacing: 0.5px;
		margin: auto;
		text-align: center;
	}

	.inputs{
		background-color: #fdfdfc;
		border: 1px solid #eee;
		margin-top: 10px;
		margin-bottom: 15px;
		padding: 20px;
		width: calc(100% - 140px);
		margin-left: 50px;
		border-radius: 5px;
		p{
			text-align: left;
			margin-left: 25px;
			padding-top: 5px;
			font-size: 13px;
		}
	}

	.checkedBox{
		&::before{
			content: "";
			border-color: #ccc;
			transition: border-color 0.3s; 
			background-color: white;
		}
		&::after{
			content: "";
			transition: border-color 0.3s; 
			background-color: #ffa96c;
			z-index: 1;
			display: inline-block;
		}
	}
	input{
		position: absolute;
		left: 63px;
		width: 13px;
		height: 13px;
		cursor: pointer;
		&::before{
			content: "";
			display: inline-block;
			width: calc(145%);
			height: calc(147%);
			margin-left: -22.5%;
			margin-top: -22.5% ;
			border: 1px solid #b4b4b4; /* Cambio del borde a rojo */
			border-radius: 50%; /* Bordes redondeados */
			transition: border-color 0.3s; /* Transición suave */
			background-color: #ffffff;
		}
		&::after{
			position: absolute;
			content: "";
			width: calc(100%);
			height: calc(100%);
			top: 1px;
			left: 1px;
			border-radius: 50%; /* Bordes redondeados */
			transition: border-color 0.3s; /* Transición suave */
			display: none;
		}
	}

	label{
		margin-left: 25px;
		color: #666;
		word-spacing: 1px;
		font-weight: 450;
		letter-spacing: 0.5px;
		cursor: pointer;
	}

	.botonInvalid {
		width: 190px;
		float: right;
		background: white;
		height: 40px;
		border: 1px solid #aaa;
		color: #888;
		border-radius: 6px;
		font-size: 16px;
		margin: 20px 50px;
		text-align: center;
		cursor: default;
		transition: .2s;
	}

	.botonValid {
		width: 200px;
		background: #ffad72;
		border: none;
		color: white;
		font-size: 16px;
		cursor: pointer;
		&:hover{
			background: #ffa462;
		}
	}
}
